
/* TestTabs2 tests indented tabs */
af|panelTabbed::body:vertical {
  border-style: none;
}

af|panelTabbed {
  border-color: -tr-property-ref(".AFMediumBackground:alias","background-color"); 
  -tr-rule-ref: selector(".AFLightestNeutralBackground:alias");
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}


af|panelTabbed:start-tabs:iconified af|panelTabbed::tabs,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tabs,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tabs,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tabs {
  padding-top:0px;
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:right-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:start-tabs:iconified af|panelTabbed::body:vertical:rtl
{
  margin-right: -0px;
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:left-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:end-tabs:iconified af|panelTabbed::body:vertical:rtl
{
  margin-left: -0px;
}


af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl {
  border-width: 0px 1px 1px 0px;
  border-top-left-radius:3px; 
  border-top-right-radius:0px;   
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl {
  border-width: 0px 0px 1px 1px;
  border-top-left-radius:0px; 
  border-top-right-radius:3px;  
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content:rtl,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content:rtl{
  border-top-right-radius:0px;  
  border-top-left-radius:0px;  
  border-bottom-left-radius:0px;  
  border-bottom-right-radius:0px; 
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab-content:rtl {
  border-width: 0px 1px 1px 0px;
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab-content:rtl  {
  border-width: 0px 0px 1px 1px;
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl {
  border-width: 0px 1px 1px 0px;
  border-bottom-left-radius:0px;
  box-shadow: none;
}

af|panelTabbed:end-tabs:iconified  af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl {
  border-width: 0px 0px 1px 1px;
  -tr-inhibit: border-bottom-left-radius; 
  border-bottom-right-radius:0px; 
  box-shadow: none; 
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content {
  border-width: 0px 0px 1px 0px;
}

/*--------------------
Panel Springboard
---------------------*/

af|panelSpringboard
{
  background-color: Olive;
  -tr-body-slide-animation-duration: 1000;
  -tr-selected-pointer-animation-duration: 1000;
  -tr-grid-to-strip-animation-duration: 1000;
  -tr-strip-to-grid-animation-duration: 1000;
}

af|panelSpringboard::items
{
  background-color: #ffffff;
}

af|panelSpringboard::body-viewport
{
  background-color: blue;
}

af|panelSpringboard::body-canvas
{
  border: 3px solid Teal ;
  background-color:Lime;
}

af|panelSpringboard::canvas
{
  border: 1px solid #00CC00;
  padding: 10px 0;
}

af|panelSpringboard::body
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CC0000;
    box-shadow: 5px 5px 5px #999999;
    margin: 0 10px;
}
    
/* By default, the selected item is shown, the rest are hidden */
af|panelSpringboard:strip af|panelSpringboard::item-text
{
  visibility: hidden;
}

af|panelSpringboard:strip af|panelSpringboard::item:hover af|panelSpringboard::item-text,
af|panelSpringboard:strip af|panelSpringboard::item:selected af|panelSpringboard::item-text {
	visibility: visible;
}
