/* Enable themes for specific components */
af|document,
af|decorativeBox,
af|panelSplitter {
  -tr-enable-themes: true;
}

af|document[theme="dark"] {
  background-image: none;
  background-color: white;
}

/* style for a branding bar container (e.g. on an af:panelBorderLayout or horizontal
   af:panelGroupLayout) */
.AFBrandingBar {
  border-bottom: 1px solid #C4D0D3;
}

/* style for a container (e.g. an af:panelGroupLayout) for items inside of the branding bar
   container */
.AFBrandingBarItem {
  height: 2em;
}

/* style for branding page title text (e.g. on an af:outputText) placed inside of a branding bar
   item wrapper */
.AFBrandingBarTitle {
  color: #274863;
  font-size: 18px;
  padding-top: 0.1em;
}

/* style for supporting padding of navigationPane buttons when in a branding bar so that it can line
   up vertically */
.AFBrandingBar af|navigationPane-buttons {
  padding-top: 0.3em;
}

/* style for supporting padding of the status indicator when in a branding bar so that it can line
   up vertically */
.AFBrandingBar af|statusIndicator {
  padding: 0.3em;
  padding-left: 6px;
  padding-right: 6px;
}

/* style for navigationPane when hint="tabs" */
af|navigationPane-tabs {
  -tr-tab-bar-height: 2.5em; /* height of tab bars (used in page template managed-beans) */
}
/* The root element for the panelTabbed component */
af|panelTabbed {
  -tr-tab-bar-height: 2.5em; /* height of tab bars that do have tabs */
  -tr-empty-bar-height: 1; /* height of tab bars that don't have tabs */
}
/* The elements that make up each tab */
af|navigationPane-tabs::tab-start,
af|navigationPane-tabs::tab-end,
af|navigationPane-tabs::tab-content,
af|panelTabbed::tab-start,
af|panelTabbed::tab-end,
af|panelTabbed::tab-content {
  line-height: 2.5em;
}

/* af|statusIndicator */
/* This icon represents the idle state. This icon is generally a non-animated icon
 * that indicates communication is NOT occuring with the server.
 */
af|statusIndicator::idle-icon {
  content: url("/skins/rainforest/status-idle.gif");
}

/* This icon represents the processing state. This icon is generally an animated icon
 * that indicates communication IS occuring with the server.
 */
af|statusIndicator::processing-icon {
  content: url("/skins/rainforest/status-busy.gif");
}

/* This icon is displayed when Active Data Service is in the process of connecting.
 * This icon is generally an animated icon.
 */
af|statusIndicator::connecting-icon {
  content: url("/skins/rainforest/status-connecting.gif");
}

/* This icon is displayed when Active Data Service is in the connected state. This 
 * icon is generally a non-animated icon and may be the same as the idle state icon.
 */
af|statusIndicator::connected-icon {
  content: url("/skins/rainforest/status-connected.gif");
}

/* This icon is displayed when the Active Data Service has lost connection and is 
 * attempting to reconnect. This icon is generally an animated icon.
 */
af|statusIndicator::reconnecting-icon {
  content: url("/skins/rainforest/status-reconnecting.gif");
}

/* This is displayed when the Active Data Service is in the disconnected state. 
 * This icon is generally a non-animated icon used to indicate that no further 
 * reconnection atempts will be made without user interaction.
 */
af|statusIndicator::disconnected-icon {
  content: url("/skins/rainforest/status-disconnected.gif");
}
/* end af|statusIndicator */

af|decorativeBox::top-start,
af|decorativeBox::top,
af|decorativeBox::top-end {
  background-image: url('/skins/rainforest/rainforest-tab-bar.png');
}
af|decorativeBox::bottom-start,
af|decorativeBox::bottom,
af|decorativeBox::bottom-end {
  background-image: url('/skins/rainforest/rainforest-tab-bar-below.png');
}

af|decorativeBox::center[theme="dark"],
af|decorativeBox::start[theme="dark"],
af|decorativeBox::end[theme="dark"],
af|decorativeBox::center[theme="medium"],
af|decorativeBox::start[theme="medium"],
af|decorativeBox::end[theme="medium"] {
  background-image: url('/skins/rainforest/rainforest-background.png');
  background-repeat: repeat-x;
  background-position: top;
  background-color: #76A7CA;
  color: black;
}
af|decorativeBox::center[theme="light"],
af|decorativeBox::start[theme="light"],
af|decorativeBox::end[theme="light"] {
  background-image: url('/skins/rainforest/rainforest-background-light.png');
  background-repeat: repeat-x;
  background-position: top;
  background-color: #BEDBE9;
  color: black;
}
af|decorativeBox::center,
af|decorativeBox::start,
af|decorativeBox::end {
  -tr-rule-ref: selector(".AFTextBackground:alias");
}

af|column::column-header-cell {
  font-size: small;
  font-weight: 700;
  color: black;
  border-bottom: 0px;
  border-right: 0px;
  padding: 10px;
}


af|column::data-cell {
  background-color: white;
}

.AFTableCellHeaderBackground:alias {
  background-color: #d7ebff;
}

af|table::data-table-H-lines af|column::data-cell,
af|table::data-table-H-lines af|column::banded-data-cell {
  padding-bottom: 10px;
  padding-top: 10px;
}

.AFDefaultFontFamily:alias {
  font-family: verdana,Arial;
}

af|commandButton,
.AFButtonBackground:alias {
  background-color:#DCDCDC;
  color: #483D8B;
}

.AFDefaultBoldFont:alias {
  color: #CC6600;
}

af|table,
af|panelAccordion::body-content,
af|panelSplitter::pane {
  border-color: #4682B4;
}

/* splitter overrides */
af|panelSplitter::pane[theme="dark"],
af|panelSplitter::pane[theme="medium"],
af|panelSplitter::pane[theme="light"] {
  border-color: transparent;
}

af|navigationPane-tabs::tab,
af|panelTabbed::tab {
  margin-right: 0px;
}

af|navigationPane-tabs::body {
  padding-top: 0px;
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-content:hover,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-link:hover,
af|panelTabbed::tab:selected af|panelTabbed::tab-content:hover,
af|panelTabbed::tab-text-link:selected:hover,
af|panelTabbed af|panelTabbed::tab-content:hover,
af|panelTabbed af|panelTabbed::tab-text-link:hover,
af|panelTabbed::tab-text-link:hover {
   text-decoration: underline;
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-start,
af|panelTabbed::header af|panelTabbed::tab:selected af|panelTabbed::tab-start {
  background-image: url('/skins/rainforest/rainforest-tab-start-on.PNG');
}
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-start {
  background-image: url('/skins/rainforest/rainforest-tab-start-on-below.png');
}
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-content,
af|panelTabbed::header af|panelTabbed::tab:selected af|panelTabbed::tab-content {
  background-image: url('/skins/rainforest/rainforest-tab-center-on.PNG');
}
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-content {
  background-image: url('/skins/rainforest/rainforest-tab-center-on-below.png');
}
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-end,
af|panelTabbed::header af|panelTabbed::tab:selected af|panelTabbed::tab-end {
  background-image: url('/skins/rainforest/rainforest-tab-end-on.PNG');
}
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-end {
  background-image: url('/skins/rainforest/rainforest-tab-end-on-below.png');
}

af|panelTabbed::header {
  background-image: url('/skins/rainforest/rainforest-tab-bar.png');
}
af|panelTabbed::footer {
  background-image: url('/skins/rainforest/rainforest-tab-bar-below.png');
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-link,
af|panelTabbed::tab-text-link:selected,
af|panelTabbed af|panelTabbed::tab-text-link,
af|panelTabbed::tab-text-link,
af|navigationPane-tabs::tab-link {
  font-size: 11px;
  color: #333;
  text-decoration: none;
  font-family: tahoma, sans-serif;
  font-weight: normal;
  text-align: center;
}

/* The elements that make up the ends of each tab */
af|navigationPane-tabs::tab-start,
af|navigationPane-tabs::tab-end,
af|panelTabbed::tab-start,
af|panelTabbed::tab-end {
  width: 11px;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom;
}
af|panelTabbed::footer af|panelTabbed::tab-start,
af|panelTabbed::footer af|panelTabbed::tab-end {
  background-position: top;
  border: none;
}

af|navigationPane-tabs::tab-start,
af|panelTabbed::header af|panelTabbed::tab-start {
  background-image: url('/skins/rainforest/rainforest-tab-start.PNG');
}
af|panelTabbed::footer af|panelTabbed::tab-start {
  background-image: url('/skins/rainforest/rainforest-tab-start-below.png');
}

af|navigationPane-tabs::tab-end,
af|panelTabbed::header af|panelTabbed::tab-end {
  background-image: url('/skins/rainforest/rainforest-tab-end.PNG');
}
af|panelTabbed::footer af|panelTabbed::tab-end {
  background-image: url('/skins/rainforest/rainforest-tab-end-below.png');
}

af|navigationPane-tabs::tab-content,
af|panelTabbed::tab-content {
  background-repeat: repeat-x;
  background-position: bottom;
  border: none;
  -tr-rule-ref: selector(".AFTabAboveMiddleUnselectedBackground:alias");
}
af|panelTabbed::footer af|panelTabbed::tab-content {
  background-position: top;
  border: none;
}

/* deleting borders on the selected tabs */
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-start,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-content,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-end,
af|panelTabbed::tab:selected af|panelTabbed::tab-start,
af|panelTabbed::tab:selected af|panelTabbed::tab-content,
af|panelTabbed::tab:selected af|panelTabbed::tab-end,
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-start,
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-content,
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-end {
  border: none;
}

af|navigationPane-tabs::tab-content,
af|panelTabbed::header af|panelTabbed::tab-content {
  background-image: url('/skins/rainforest/rainforest-tab-center.PNG');
}
af|panelTabbed::footer af|panelTabbed::tab-content {
  background-image: url('/skins/rainforest/rainforest-tab-center-below.png');
}

af|navigationPane-list::bullet {
  background-image: none;
  width: 0px;
}

.AFActiveLinkForeground:alias,
.AFLinkForeground:alias,
af|navigationPane-list::link {
  color: #003399;
  text-decoration: none;
  font-family: Tahoma,sans-serif;
}

af|commandLink:hover,
af|navigationPane-buttons::link:hover,
af|navigationPane-list::link:hover {
  color: #c60;
  text-decoration: underline;
}

af|navigationPane-list::link:visited,
.AFVisitedLinkForeground:alias {
  color: #996633;
}

af|navigationPane-buttons::separator-icon-style {
  color: #CC6600;
}

.AFLabelTextForeground:alias {
  color: #CC6600;
  font-weight: bold;
}

af|panelBox::table {
  border: none;
}

af|panelBox::content:core:default ,
af|panelBox::content:core:light ,
af|panelBox::content:core:medium ,
af|panelBox::content:core:dark ,
af|panelBox::content:highlight:default ,
af|panelBox::content:highlight:light ,
af|panelBox::content:highlight:medium ,
af|panelBox::content:highlight:dark {
  background-color: white;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #4682B4;
  font-size: 11px;
}

af|panelBox::header-center:core:default,
af|panelBox::header-center:core:light,
af|panelBox::header-center:core:medium,
af|panelBox::header-center:core:dark,
af|panelBox::header-center:highlight:default,
af|panelBox::header-center:highlight:light,
af|panelBox::header-center:highlight:medium,
af|panelBox::header-center:highlight:dark {
  background-image: url('/skins/rainforest/rainforest-panelbox-center.JPG');
  background-color: #4682B4;
  color: white;
  border: 0px #4682B4;
  font-family: Tahoma;
  line-height: 11px;
  font-size: 14px;
  font-weight: bold;
}

af|panelBox::header-start:core:default,
af|panelBox::header-start:core:light,
af|panelBox::header-start:core:medium,
af|panelBox::header-start:core:dark,
af|panelBox::header-start:highlight:default,
af|panelBox::header-start:highlight:light,
af|panelBox::header-start:highlight:medium,
af|panelBox::header-start:highlight:dark {
  background-image: url('/skins/rainforest/rainforest-panelbox-start.jpg');
  background-color: #4682B4;
  border: 0px #4682B4;
}

af|panelBox::header-end:core:default,
af|panelBox::header-end:core:light,
af|panelBox::header-end:core:medium,
af|panelBox::header-end:core:dark,
af|panelBox::header-end:highlight:default,
af|panelBox::header-end:highlight:light,
af|panelBox::header-end:highlight:medium,
af|panelBox::header-end:highlight:dark {
  background-image: url('/skins/rainforest/rainforest-panelbox-end.jpg');
  background-color:#4682B4;
  border: 0px solid #4682B4;
  background-position: top right;
}

.AFMediumAccentForeground:alias,
af|panelAccordion::header-title,
af|panelAccordion::header-toolbar,
af|panelAccordion::header-disclose {
  background-image: url('/skins/rainforest/rainforest-panelbox-center.JPG');
  background-color: #4682B4;
  color: white;
  border: 0px solid #4682B4;
  font-family: Tahoma;
  line-height: 11px;
  font-size: 14px;
  font-weight: bold;
}

af|panelAccordion::header-title,
af|panelAccordion::header-title af|commandLink,
af|panelAccordion::header-title af|commandLink:active,
af|panelAccordion::header-title af|commandLink:hover,
af|panelAccordion::header-title af|commandLink:visited,
af|panelAccordion::header-title af|goLink,
af|panelAccordion::header-title af|goLink:active,
af|panelAccordion::header-title af|goLink:hover,
af|panelAccordion::header-title af|goLink:visited {
  color: white;
  font-family: Tahoma;
  line-height: 11px;
  font-size: 14px;
  font-weight: bold;
}

af|panelAccordion::header-start,
af|panelAccordion::header-start-sizer {
  background-image: url('/skins/rainforest/rainforest-panelbox-start.jpg');
  background-color: #4682B4;
  border: 0px solid #4682B4;
}

af|panelAccordion::header-end,
af|panelAccordion::header-end-sizer {
  background-color: #4682B4;
  background-image: url('/skins/rainforest/rainforest-panelbox-end.jpg');
  border: 0px solid #4682B4;
}

/* Override the background-color of a subtotal data cell */
af|column::data-cell.AFTableCellSubtotal {
  background-color: #F2F8FF;
}
