@accessibility-profile high-contrast {
   af|dialog::close-icon {
     content:  url("/afr/closeDialog_n.png");
   }
   af|inputColor::launch-icon {
     content: url("/afr/arrow_md.png");
   }

   af|inputNumberSlider::minus-icon,
   af|inputRangeSlider::minus-icon {
     content: url('/afr/slider_decreasebutcon_m_n.png');
   }
   af|inputNumberSlider::plus-icon,
   af|inputRangeSlider::plus-icon {
     content: url('/afr/slider_increasebutcon_m_n.png');
   }
   af|inputNumberSlider::thumb-icon,
   af|inputRangeSlider::thumb-icon {
     content: url('/afr/slider_thumb_vert_m_n.png');
   }
   af|inputNumberSlider:vertical::thumb-icon,
   af|inputRangeSlider:vertical::thumb-icon {
     content: url('/afr/slider_thumb_m_n.png');
   }
   af|inputNumberSlider:vertical::thumb-icon:rtl,
   af|inputRangeSlider:vertical::thumb-icon:rtl {
     content: url('/afr/slider_thumb_m_n_rtl.png');
   }
   af|inputNumberSlider:vertical:thumb-disabled-icon,
   af|inputRangeSlider:vertical:thumb-disabled-icon {
     content: url('/afr/slider_thumb_m_d.png');
   }
   af|inputNumberSlider:vertical:thumb-disabled-icon:rtl,
   af|inputRangeSlider:vertical:thumb-disabled-icon:rtl {
     content: url('/afr/slider_thumb_m_d_rtl.png');
   }
   af|inputNumberSlider:minus-disabled-icon,
   af|inputRangeSlider:minus-disabled-icon {
     content: url('/afr/slider_decreasebutcon_m_d.png');
   }
   af|inputNumberSlider:plus-disabled-icon,
   af|inputRangeSlider:plus-disabled-icon {
     content: url('/afr/slider_increasebutcon_m_d.png');
   }
   af|inputNumberSlider:thumb-disabled-icon,
   af|inputRangeSlider:thumb-disabled-icon {
     content: url('/afr/slider_thumb_vert_m_d.png');
   }
   af|inputNumberSpinbox::decrementor-icon,
   af|chooseDate::spinbox-decrementor-icon {
     content: url("/afr/spinbox_arrow_dn_hc.png");
   }
   af|inputNumberSpinbox::decrementor-disabled-icon,
   af|chooseDate::spinbox-decrementor-disabled-icon {
     content: url("/afr/spinbox_arrow_dn_d.png");
   }
   af|inputNumberSpinbox::incrementor-icon,
   af|chooseDate::spinbox-incrementor-icon {
     content: url("/afr/spinbox_arrow_up_hc.png");
   }
   af|inputNumberSpinbox::incrementor-disabled-icon,
   af|chooseDate::spinbox-incrementor-disabled-icon {
     content: url("/afr/spinbox_arrow_up_d.png");
   }
   af|menu::bar-item-open-icon {
     content: url("/afr/dropdown_n_hc.png");
   }
   af|menu::scroll-up-icon {
     content: url("/afr/scrollUp_n.png");
   }
   af|menu::scroll-down-icon {
     content: url("/afr/scrollDown_n.png");
   }
   af|menu::submenu-open-icon {
     content: url("/afr/openSubmenu_n_hc.png");
   }
   af|menu::submenu-open-icon:rtl {
     content: url("/afr/openSubmenu_n_hc_rtl.png");
   }
   
   af|navigationPane-choice::dropdown-icon {
     content: url('/afr/spinbox_arrow_dn_hc.png');
   }
   af|panelAccordion::disclosed-icon {
     content: url('/afr/disclosure_expanded.png');
   }
   af|panelAccordion::undisclosed-icon {
     content: url('/afr/disclosure_collapsed.png');
   }
   af|panelAccordion::overflow-top-icon {
     content: url('/afr/overflow_top.png');
   }
   af|panelAccordion::overflow-bottom-icon {
     content: url('/afr/overflow_bottom.png');
   }
   af|panelTabbed::disclosed-remove-icon,
   af|navigationPane-tabs::disclosed-remove-icon {
     content: url('/afr/removeTab_ena.png');
   }
   af|panelTabbed::undisclosed-remove-icon,
   af|navigationPane-tabs::undisclosed-remove-icon {
     content: url('/afr/removeTab_ena.png');
   }
   af|panelTabbed::remove-disabled-icon,
   af|navigationPane-tabs::remove-disabled-icon {
     content: url('/afr/removeTab_dis.png');
   }
   af|panelWindow::close-icon {
     content: url("/afr/closeDialog_n.png");
   }

   af|selectManyChoice::dropdown-icon {
     content: url('/afr/dropdown_n_hc.png');
   }
   af|selectManyChoice:disabled::dropdown-icon {
     content: url('/afr/dropdown_d_hc.png');
   }
   af|selectOneChoice::compact-dropdown-icon {
      content: url('/afr/spinbox_arrow_dn_hc.png');
   }
   af|selectOneChoice::dropdown-icon {
     content: url('/afr/dropdown_n_hc.png');
   }
   af|selectOneChoice:disabled::dropdown-icon {
     content: url('/afr/dropdown_d_hc.png');
   }
   
   af|train::selected-stop-icon,
   af|train-vertical::selected-stop-icon {
     content: url('/afr/mTrain_active.png');
   }
   af|train::disabled-stop-icon,
   af|train-vertical::disabled-stop-icon {
     content: url('/afr/mTrain_disabled.png');
   }
   af|train::unvisited-stop-icon,
   af|train-vertical::unvisited-stop-icon {
     content: url('/afr/mTrain_unvisited_n.png');
   }
   af|train::visited-stop-icon,
   af|train-vertical::visited-stop-icon {
     content: url('/afr/mTrain_visited_n.png');
   }

   af|navigationPane-tabs::start-overflow-icon:ltr,
   af|navigationPane-tabs::end-overflow-icon:rtl,
   af|navigationPane-bar::start-overflow-icon:ltr,
   af|navigationPane-bar::end-overflow-icon:rtl,
   af|panelTabbed::start-overflow-icon:ltr,
   af|panelTabbed::end-overflow-icon:rtl,
   af|train::start-overflow-icon:ltr,
   af|train::end-overflow-icon:rtl,
   af|menuBar::overflow-icon:rtl,
   af|toolbar::overflow-icon:rtl {
     content: url("/afr/overflow_start.png");
   }
   af|navigationPane-tabs::end-overflow-icon:ltr,
   af|navigationPane-tabs::start-overflow-icon:rtl,
   af|navigationPane-bar::end-overflow-icon:ltr,
   af|navigationPane-bar::start-overflow-icon:rtl,
   af|panelTabbed::end-overflow-icon:ltr,
   af|panelTabbed::start-overflow-icon:rtl,
   af|train::end-overflow-icon:ltr,
   af|train::start-overflow-icon:rtl,
   af|menuBar::overflow-icon:ltr,
   af|toolbar::overflow-icon:ltr {
     content: url("/afr/overflow_end.png");
   }
   af|navigationPane-tabs::start-overflow-icon:hover:ltr,
   af|navigationPane-tabs::end-overflow-icon:hover:rtl,
   af|navigationPane-bar::start-overflow-icon:hover:ltr,
   af|navigationPane-bar::end-overflow-icon:hover:rtl,
   af|panelTabbed::start-overflow-icon:hover:ltr,
   af|panelTabbed::end-overflow-icon:hover:rtl,
   af|train::start-overflow-icon:hover:ltr,
   af|train::end-overflow-icon:hover:rtl,
   af|menuBar::overflow-icon:hover:rtl,
   af|toolbar::overflow-icon:hover:rtl {
     content: url("/afr/overflow_start_mo.png");
   }
   af|navigationPane-tabs::start-overflow-icon:depressed:ltr,
   af|navigationPane-tabs::end-overflow-icon:depressed:rtl,
   af|navigationPane-bar::start-overflow-icon:depressed:ltr,
   af|navigationPane-bar::end-overflow-icon:depressed:rtl,
   af|panelTabbed::start-overflow-icon:depressed:ltr,
   af|panelTabbed::end-overflow-icon:depressed:rtl,
   af|train::start-overflow-icon:depressed:ltr,
   af|train::end-overflow-icon:depressed:rtl,
   af|menuBar::overflow-icon:depressed:rtl,
   af|toolbar::overflow-icon:depressed:rtl {
     content: url("/afr/overflow_start_md.png");
   }
   af|navigationPane-tabs::end-overflow-icon:hover:ltr,
   af|navigationPane-tabs::start-overflow-icon:hover:rtl,
   af|navigationPane-bar::end-overflow-icon:hover:ltr,
   af|navigationPane-bar::start-overflow-icon:hover:rtl,
   af|panelTabbed::end-overflow-icon:hover:ltr,
   af|panelTabbed::start-overflow-icon:rtl,
   af|train::end-overflow-icon:hover:ltr,
   af|train::start-overflow-icon:hover:rtl,
   af|menuBar::overflow-icon:hover,
   af|toolbar::overflow-icon:hover {
     content: url("/afr/overflow_end_mo.png");
   }
   af|navigationPane-tabs::end-overflow-icon:depressed:ltr,
   af|navigationPane-tabs::start-overflow-icon:depressed:rtl,
   af|navigationPane-bar::end-overflow-icon:depressed:ltr,
   af|navigationPane-bar::start-overflow-icon:depressed:rtl,
   af|panelTabbed::end-overflow-icon:depressed:ltr,
   af|panelTabbed::start-overflow-icon:depressed:rtl,
   af|train::end-overflow-icon:depressed:ltr,
   af|train::start-overflow-icon:depressed:rtl,
   af|menuBar::overflow-icon:depressed,
   af|toolbar::overflow-icon:depressed {
     content: url("/afr/overflow_end_md.png");
   }
   af|train-vertical::top-overflow-icon {
     content: url("/afr/overflow_top.png");
   }
   af|train-vertical::bottom-overflow-icon {
     content: url("/afr/overflow_bottom.png");
   }
   af|tree::expanded-icon,
   af|treeTable::expanded-icon {
     content: url("/afr/disclosure_expanded.png");
   }
   af|tree::collapsed-icon,
   af|treeTable::collapsed-icon {
     content: url("/afr/disclosure_collapsed.png");
   }
}





/* End of styles from richcomponents-simple-desktop */
/* ----------------------------------------------------------------------------------*/



@accessibility-profile high-contrast {
  af|panelTabbed::disclosed-remove-icon-style,
  af|panelTabbed::undisclosed-remove-icon-style,
  af|navigationPane-tabs::disclosed-remove-icon-style,
  af|navigationPane-tabs::undisclosed-remove-icon-style {
    content: url('/afr/removeTab_blank.png');
  }
  
  af|panelTabbed::disclosed-remove-icon:hover,
  af|panelTabbed::undisclosed-remove-icon:hover,
  af|navigationPane-tabs::disclosed-remove-icon:hover,
  af|navigationPane-tabs::undisclosed-remove-icon:hover {
    content: url('/afr/fusion/tabclose_ovr.png');
  }
  af|panelTabbed::disclosed-remove-icon:active,
  af|panelTabbed::undisclosed-remove-icon:active,
  af|navigationPane-tabs::disclosed-remove-icon:active,
  af|navigationPane-tabs::undisclosed-remove-icon:active {
    content: url('/afr/fusion/tabclose_dwn.png');
  }
  af|panelTabbed::disclosed-remove-disabled-icon-style,
  af|panelTabbed::undisclosed-remove-disabled-icon-style,
  af|navigationPane-tabs::disclosed-remove-disabled-icon-style,
  af|navigationPane-tabs::undisclosed-remove-disabled-icon-style {
    content: url('/afr/fusion/tabclose_dis.png');
  }
  
  af|query::disclosed-icon,
  af|showDetailHeader::disclosed-icon {
    content: url('/afr/fusion/disclexp.png');
  }
  af|query::undisclosed-icon,
  af|showDetailHeader::undisclosed-icon {
    content: url('/afr/fusion/disclcol.png');
  }
  af|query::undisclosed-icon:rtl,
  af|showDetailHeader::undisclosed-icon:rtl {
    content: url('/afr/fusion/disclcol_rtl.png');
  }
  af|column::filter-clear-all-icon {
    content: url("/afr/clear_sm.png");
  }
  af|column::filter-clear-all-icon:hover {
    content: url("/afr/clear_sm_ovr.png");
  }
  af|column::filter-clear-all-icon:active {
    content: url("/afr/clear_sm_dwn.png");
  }
  af|column::sort-ascending-icon {
     content: url("/afr/fusion/sort_asc_ena.png");
   }
   af|column::sort-ascending-icon:hover {
     content: url("/afr/fusion/sort_asc_ovr.png");
   }
   af|column::sort-ascending-icon:active {
     content: url("/afr/fusion/sort_asc_selected.png");
   }
   af|column::sort-descending-icon {
     content: url("/afr/fusion/sort_des_ena.png");
   }
   af|column::sort-descending-icon:hover {
     content: url("/afr/fusion/sort_des_ovr.png");
   }
   af|column::sort-descending-icon:active {
     content: url("/afr/fusion/sort_des_selected.png");
   }
   af|column::sorted-ascending-icon {
     content: url("/afr/fusion/sort_asc_selected.png");
   }
   af|column::sorted-descending-icon {
     content: url("/afr/fusion/sort_des_selected.png");
   }

  af|table::disclosed-icon,
  af|tree::expanded-icon,
  af|treeTable::expanded-icon {
   content: url("/afr/fusion/discloseexpanded_ena.png");
  }

  af|table::undisclosed-icon,
  af|tree::collapsed-icon,
  af|treeTable::collapsed-icon {
   content: url("/afr/fusion/disclosecollapsed_ena.png");
  }

  af|table::undisclosed-icon:rtl,
  af|tree::collapsed-icon:rtl,
  af|treeTable::collapsed-icon:rtl {
   content: url("/afr/fusion/disclosecollapsed_ena_rtl.png");
  }
}

.AFDisclosedIcon:alias{
  content: url('/afr/fusion/disclexp.png');
}
.AFUndisclosedIcon:alias{
  content: url('/afr/fusion/disclcol.png');
}
/*pu:todo the undisclosed rtl icon is useful only when bug 10288774 is fixed. MARK IT PRIVATE IN THE DOC UNTIL THEN.
  I THINK WE SHOULD MARK AFUndisclosedIcon ITSELF AS PRIVATE*/
.AFUndisclosedIcon:alias:rtl{
  content: url('/afr/fusion/disclcol_rtl.png');
}

.AFDisclosedIconStyle:alias{
  background-image: url('/afr/fusion/disclexp.png');
}
.AFDisclosedIconStyleHover:alias{
  background-image: url('/afr/fusion/disclexp_hover.png');
}
.AFDisclosedIconStyleActive:alias{
  background-image: url('/afr/fusion/disclexp_active.png');
}

.AFUndisclosedIconStyle:alias{
  background-image: url('/afr/fusion/disclcol.png');
}
.AFUndisclosedIconStyle:alias:rtl{
  background-image: url('/afr/fusion/disclcol_rtl.png');
}
.AFUndisclosedIconStyleHover:alias{
  background-image: url('/afr/fusion/disclcol_hover.png');
}
.AFUndisclosedIconStyleHover:alias:rtl{
  background-image: url('/afr/fusion/disclcol_hover_rtl.png');
}
.AFUndisclosedIconStyleActive:alias{
  background-image: url("/afr/fusion/disclcol_active.png");
}
.AFUndisclosedIconStyleActive:alias:rtl{
  background-image: url('/afr/fusion/disclcol_active_rtl.png');
}

.AFChangedIcon:alias {
  content: url(/afr/fusion/updatedvalue_status.png);
}

.AFOverflowImageHorizontalStart:alias {
  background-image: url("/afr/fusion/overflow_left_ena.png");
}

.AFOverflowImageHorizontalStartHover:alias {
  background-image: url("/afr/fusion/overflow_left_ovr.png");
}

.AFOverflowImageHorizontalStartDepressed:alias {
  background-image: url("/afr/fusion/overflow_left_dwn.png");
}

.AFOverflowImageHorizontalEnd:alias {
  background-image: url("/afr/fusion/overflow_right_ena.png");
}

.AFOverflowImageHorizontalEndHover:alias {
  background-image: url("/afr/fusion/overflow_right_ovr.png");
}

.AFOverflowImageHorizontalEndDepressed:alias {
  background-image: url("/afr/fusion/overflow_right_dwn.png");
}

.AFOverflowImageVerticalStart:alias {
  background-image: url("/afr/fusion/overflow_up_ena.png");
}

.AFOverflowImageVerticalStartHover:alias {
  background-image: url("/afr/fusion/overflow_up_ovr.png");
}

.AFOverflowImageVerticalStartDepressed:alias {
  background-image: url("/afr/fusion/overflow_up_dwn.png");
}

.AFOverflowImageVerticalEnd:alias {
  background-image: url("/afr/fusion/overflow_down_ena.png");
}

.AFOverflowImageVerticalEndHover:alias {
  background-image: url("/afr/fusion/overflow_down_ovr.png");
}

.AFOverflowImageVerticalEndDepressed:alias {
  background-image: url("/afr/fusion/overflow_down_dwn.png");
}

af|progressIndicator::determinate-filled-icon-style {
  background-image: url('/afr/fusion/bar.png');
}

af|progressIndicator::determinate-empty-icon-style {
  background-image: url('/afr/fusion/bar_bg.png');
}

af|breadCrumbs::overflow-indicator {
  background-image: url("/afr/fusion/breadcrumb_lof_ena.png");
}

af|breadCrumbs::overflow-indicator:hover {
  background-image: url("/afr/fusion/breadcrumb_of_ovr.png");
}

af|breadCrumbs::overflow-indicator:depressed {
  background-image: url("/afr/fusion/breadcrumb_of_dwn.png");
}


af|panelTabbed::disclosed-remove-icon-style,
af|panelTabbed::undisclosed-remove-icon-style,
af|navigationPane-tabs::disclosed-remove-icon-style,
af|navigationPane-tabs::undisclosed-remove-icon-style {
  background-image: url('/afr/removeTab_blank.png');
}

af|panelTabbed::disclosed-remove-disabled-icon-style,
af|panelTabbed::undisclosed-remove-disabled-icon-style,
af|navigationPane-tabs::disclosed-remove-disabled-icon-style,
af|navigationPane-tabs::undisclosed-remove-disabled-icon-style {
  background-image: url('/afr/fusion/tabclose_dis.png');
}

af|panelTabbed::disclosed-remove-icon-style:hover,
af|panelTabbed::undisclosed-remove-icon-style:hover,
af|navigationPane-tabs::disclosed-remove-icon-style:hover,
af|navigationPane-tabs::undisclosed-remove-icon-style:hover {
  background-image: url('/afr/fusion/tabclose_ovr.png');
}

af|panelTabbed::disclosed-remove-icon-style:active,
af|panelTabbed::undisclosed-remove-icon-style:active,
af|navigationPane-tabs::disclosed-remove-icon-style:active,
af|navigationPane-tabs::undisclosed-remove-icon-style:active {
  background-image: url('/afr/fusion/tabclose_dwn.png');
}



af|commandToolbarButton::dropdown-icon-style {
  background-image: url('/afr/fusion/dropdown_ena.png');
}

af|commandToolbarButton:hover::dropdown-icon-style {
  background-image: url('/afr/fusion/dropdown_ovr.png');
}

af|commandToolbarButton:depressed::dropdown-icon-style,
af|commandToolbarButton:depressed:hover::dropdown-icon-style,
af|commandToolbarButton:selected::dropdown-icon-style,
af|commandToolbarButton:selected:hover::dropdown-icon-style,
af|commandToolbarButton:selected:active::dropdown-icon-style,
af|commandToolbarButton:selected:active:hover::dropdown-icon-style {
  background-image: url('/afr/fusion/dropdown_dwn.png');
}

af|commandToolbarButton:disabled::dropdown-icon-style,
af|commandToolbarButton:hover:disabled::dropdown-icon-style,
af|commandToolbarButton:depressed:disabled::dropdown-icon-style,
af|commandToolbarButton:depressed:hover:disabled::dropdown-icon-style,
af|commandToolbarButton:selected:disabled::dropdown-icon-style,
af|commandToolbarButton:selected:hover:disabled::dropdown-icon-style,
af|commandToolbarButton:selected:active:disabled::dropdown-icon-style,
af|commandToolbarButton:selected:active:hover:disabled::dropdown-icon-style {
  background-image: url('/afr/fusion/dropdown_dis.png');
}

af|inputNumberSpinbox::incrementor-icon-style {
  background-image: url(/afr/fusion/spinboxup_ena.png);
}
af|inputNumberSpinbox::decrementor-icon-style {
  background-image: url(/afr/fusion/spinboxdown_ena.png);
}
af|inputNumberSpinbox::incrementor-icon-style:disabled,
af|inputNumberSpinbox:disabled::incrementor-icon-style,
af|inputNumberSpinbox::incrementor-icon-style:disabled:hover,
af|inputNumberSpinbox:disabled::incrementor-icon-style:hover,
af|inputNumberSpinbox::incrementor-icon-style:disabled:active,
af|inputNumberSpinbox:disabled::incrementor-icon-style:active {
  background-image: url(/afr/fusion/spinboxup_dis.png);
}
af|inputNumberSpinbox::decrementor-icon-style:disabled,
af|inputNumberSpinbox:disabled::decrementor-icon-style,
af|inputNumberSpinbox::decrementor-icon-style:disabled:hover,
af|inputNumberSpinbox:disabled::decrementor-icon-style:hover,
af|inputNumberSpinbox::decrementor-icon-style:disabled:active,
af|inputNumberSpinbox:disabled::decrementor-icon-style:active {
  background-image: url(/afr/fusion/spinboxdown_dis.png);
}
af|inputNumberSpinbox::incrementor-icon-style:hover {
  background-image: url(/afr/fusion/spinboxup_ovr.png);
}
af|inputNumberSpinbox::incrementor-icon-style:active {
  background-image: url(/afr/fusion/spinboxup_dwn.png);
}
af|inputNumberSpinbox::decrementor-icon-style:hover {
  background-image: url(/afr/fusion/spinboxdown_ovr.png);
}
af|inputNumberSpinbox::decrementor-icon-style:active {
  background-image: url(/afr/fusion/spinboxdown_dwn.png);
}


af|menuBar::model-bar-nav-item:depressed af|menu::bar-item-open-icon-style {
  background-image: url("/afr/fusion/menu_l23_button_dropdown_dwn.png");
}

af|menuBar::overflow-container af|menuBar::model-bar-nav-item:depressed af|menu::bar-item-open-icon-style {
  background-image: url("/afr/fusion/open_submenu_ena.png");
}

af|menuBar::overflow-container af|menuBar::model-bar-nav-item:depressed af|menu::bar-item-open-icon-style:rtl {
  background-image: url("/afr/fusion/open_submenu_ena_rtl.png");
}


af|menu::bar-item-open-icon-style {
  background-image: url("/afr/fusion/menu_l23_button_dropdown_ena.png");
}

af|menu:highlighted af|menu::bar-item-open-icon-style {
  background-image: url("/afr/fusion/menu_l23_button_dropdown_ovr.png");
}

af|menu:depressed af|menu::bar-item-open-icon-style {
  background-image: url("/afr/fusion/menu_l23_button_dropdown_dwn.png");
}

af|menu:disabled af|menu::bar-item-open-icon-style, 
af|menuBar::model-bar-nav-item:disabled af|menu::bar-item-open-icon-style{
  background-image: url("/afr/fusion/menu_l23_button_dropdown_dis.png");
}

af|menu::submenu-open-icon-style,
af|menuBar::overflow-container af|menu::bar-item-open-icon-style,
af|menuBar::overflow-container af|menu:highlighted af|menu::bar-item-open-icon-style,
af|menuBar::overflow-container af|menu:depressed af|menu::bar-item-open-icon-style {
  background-image: url("/afr/fusion/open_submenu_ena.png");
}

af|menu::submenu-open-icon-style:rtl,
af|menuBar::overflow-container af|menu::bar-item-open-icon-style:rtl,
af|menuBar::overflow-container af|menu:highlighted af|menu::bar-item-open-icon-style:rtl,
af|menuBar::overflow-container af|menu:depressed af|menu::bar-item-open-icon-style:rtl {
  background-image: url("/afr/fusion/open_submenu_ena_rtl.png");
}

af|menu:disabled::submenu-open-icon-style,
af|menuBar::overflow-container af|menu:disabled::bar-item-open-icon-style,
af|menuBar::model-inner-nav-item:disabled af|menu::submenu-open-icon-style {
  background-image: url("/afr/fusion/open_submenu_dis.png");
}


af|menu:disabled::submenu-open-icon-style:rtl,
af|menuBar::overflow-container af|menu:disabled::bar-item-open-icon-style:rtl {
  background-image: url("/afr/fusion/open_submenu_dis_rtl.png");
}

af|menu::scroll-up-icon-style {
  background-image: url("/afr/fusion/scroll_arrow_up_ena.png");
}

af|menu::scroll-up-icon-style:hover {
  background-image: url("/afr/fusion/scroll_arrow_up_ovr.png");
}

af|menu::scroll-up-icon-style:active {
  background-image: url("/afr/fusion/scroll_arrow_up_dwn.png");
}

af|menu::scroll-up-icon-style:disabled {
  background-image: url("/afr/fusion/scroll_arrow_up_dis.png");
}

af|menu::scroll-down-icon-style {
  background-image: url("/afr/fusion/scroll_arrow_down_ena.png");
}

af|menu::scroll-down-icon-style:hover {
  background-image: url("/afr/fusion/scroll_arrow_down_ovr.png");
}

af|menu::scroll-down-icon-style:active {
  background-image: url("/afr/fusion/scroll_arrow_down_dwn.png");
}

af|menu::scroll-down-icon-style:disabled {
  background-image: url("/afr/fusion/scroll_arrow_down_dis.png");
}

af|menu::scroll-up-cell:hover,
af|menu::scroll-down-cell:hover {
  background-image: url("/afr/fusion/scroll_bg_ovr.png");
}

af|menu::scroll-up-cell:active,
af|menu::scroll-down-cell:active {
  background-image: url("/afr/fusion/scroll_bg_dwn.png");
}

af|menu::detach-handle {
   background-image: url("/afr/fusion/tearoff_bg_ena.png");
   height: 13px;
}

af|menu::detach-handle:hover {
   background-image: url("/afr/fusion/tearoff_bg_ovr.png");
}

af|menu::detachable-header-content-center:depressed af|menu::detach-handle {
   background-image: url("/afr/fusion/tearoff_bg_dwn.png");
}

af|menu::detach-grip {
  background-image: url("/afr/fusion/tearoff_grippy_ena.png");
}

af|menu::detach-grip:hover {
  background-image: url("/afr/fusion/tearoff_grippy_ovr.png");
}

af|menu::detachable-header-content-center:depressed af|menu::detach-grip {
  background-image: url("/afr/fusion/tearoff_grippy_dwn.png");
}

af|menu::child-container:detached af|menu::detachable-header {
  background-image: url("/afr/fusion/window_header_tc.png");
}

af|navigationPane-buttons::separator-icon-style,
af|navigationPane-bar::separator-icon-style {
  background-image: url('/afr/fusion/glink_pSeparator.png');
}

af|navigationPane-choice::dropdown-icon-style {
  background-image: url('/afr/fusion/choiceListButton_ena.png');
}

af|navigationPane-choice::dropdown-icon-style:hover {
  background-image: url('/afr/fusion/choiceListButton_ovr.png');
}

af|navigationPane-choice::dropdown-icon-style:active,
af|navigationPane-choice::dropdown-icon-style:hover:active {
  background-image: url('/afr/fusion/choiceListButton_dwn.png');
}



af|query::disclosed-icon-style,
af|showDetailHeader::disclosed-icon-style {
  background-image: url(/afr/fusion/disclexp.png);
}
af|query::disclosed-icon-style:hover,
af|showDetailHeader::disclosed-icon-style:hover {
  background-image: url(/afr/fusion/disclexp_hover.png);
}
af|query::disclosed-icon-style:active,
af|showDetailHeader::disclosed-icon-style:active {
  background-image: url(/afr/fusion/disclexp_active.png);
}
af|query::undisclosed-icon-style,
af|showDetailHeader::undisclosed-icon-style {
  background-image: url(/afr/fusion/disclcol.png);
}
af|query::undisclosed-icon-style:rtl,
af|showDetailHeader::undisclosed-icon-style:rtl {
  background-image: url(/afr/fusion/disclcol_rtl.png);
}
af|query::undisclosed-icon-style:hover,
af|showDetailHeader::undisclosed-icon-style:hover {
  background-image: url(/afr/fusion/disclcol_hover.png);
}
af|query::undisclosed-icon-style:hover:rtl,
af|showDetailHeader::undisclosed-icon-style:hover:rtl {
  background-image: url(/afr/fusion/disclcol_hover_rtl.png);
}
af|query::undisclosed-icon-style:active,
af|showDetailHeader::undisclosed-icon-style:active {
  background-image: url(/afr/fusion/disclcol_active.png);
}
af|query::undisclosed-icon-style:active:rtl,
af|showDetailHeader::undisclosed-icon-style:active:rtl {
  background-image: url(/afr/fusion/disclcol_active_rtl.png);
}


af|quickQuery::search-icon-style {
  background-image: url('/afr/fusion/quickQuery_ena.png');
}

af|quickQuery::search-icon-style:rtl {
  background-image: url('/afr/fusion/quickQuery_rtl_ena.png');
}

af|quickQuery::search-icon-style:hover {
  background-image:url('/afr/fusion/quickQuery_ovr.png');
}

af|quickQuery::search-icon-style:hover:rtl {
  background-image:url('/afr/fusion/quickQuery_rtl_ovr.png');
}

af|quickQuery::search-icon-style:active {
  background-image:url('/afr/fusion/quickQuery_dwn.png');
}

af|quickQuery::search-icon-style:active:rtl {
  background-image:url('/afr/fusion/quickQuery_rtl_dwn.png');
}

af|quickQuery::disabled-search-icon-style {
  background-image: url('/afr/fusion/quickQuery_dis.png');
}

af|quickQuery::disabled-search-icon-style:rtl {
  background-image: url('/afr/fusion/quickQuery_rtl_dis.png');
}

af|selectManyChoice::dropdown,
af|inputComboboxListOfValues::dropdown-cell {
  background-image: url('/afr/fusion/dropDB_1x11_ena.png');
}

af|selectManyChoice:disabled::dropdown,
af|selectManyChoice:disabled::dropdown:hover,
af|selectManyChoice:disabled::dropdown:active,
af|inputComboboxListOfValues:disabled::dropdown-cell,
af|inputComboboxListOfValues:disabled::dropdown-cell:hover,
af|inputComboboxListOfValues:disabled::dropdown-cell:active {
  background-image: url('/afr/fusion/dropDB_1x11_dis.png');
}

af|selectManyChoice::dropdown:hover,
af|inputComboboxListOfValues::dropdown-cell:hover {
  background-image: url('/afr/fusion/dropDB_1x11_ovr.png');
}

af|selectManyChoice::dropdown:active,
af|inputComboboxListOfValues::dropdown-cell:active {
  background-image: url('/afr/fusion/dropDB_1x11_dwn.png');
}

af|selectManyChoice::dropdown-icon-style,
af|inputComboboxListOfValues::dropdown-icon-style {
  background-image: url('/afr/fusion/dropDB_symbol_ena.png');
}

af|selectManyChoice:disabled::dropdown-icon-style,
af|selectManyChoice:disabled::dropdown-icon-style:hover,
af|selectManyChoice:disabled::dropdown-icon-style:active,
af|inputComboboxListOfValues:disabled::dropdown-icon-style,
af|inputComboboxListOfValues:disabled::dropdown-icon-style:hover,
af|inputComboboxListOfValues:disabled::dropdown-icon-style:active {
  background-image: url('/afr/fusion/dropDB_symbol_dis.png');
}
af|selectManyChoice::dropdown-icon-style:hover,
af|inputComboboxListOfValues::dropdown-icon-style:hover {
  background-image: url('/afr/fusion/dropDB_symbol_ovr.png');
}
af|selectManyChoice::dropdown-icon-style:active,
af|selectManyChoice::dropdown-icon-style:hover:active,
af|inputComboboxListOfValues::dropdown-icon-style:active,
af|inputComboboxListOfValues::dropdown-icon-style:hover:active {
  background-image: url('/afr/fusion/dropDB_symbol_dwn.png');
}

af|selectOneChoice::compact-dropdown-icon-style {
  background-image: url('/afr/fusion/choiceListButton_ena.png');
}

af|selectOneChoice::compact-dropdown-icon-style:hover {
  background-image: url('/afr/fusion/choiceListButton_ovr.png');
}

af|selectOneChoice::compact-dropdown-icon-style:active,
af|selectOneChoice::compact-dropdown-icon-style:hover:active {
  background-image: url('/afr/fusion/choiceListButton_dwn.png');
}

af|selectOneChoice::compact-dropdown-icon-style:disabled
{
  background-image:url("/afr/fusion/choiceListButton_dis.png");
}

af|selectManyShuttle::options,
af|selectOrderShuttle::options {
  background-image: url(/afr/fusion/inputText_bg.png);
  background-repeat: repeat-x;
  background-position: top left;
}

af|inputNumberSlider::bar-outer-border,
af|inputRangeSlider::bar-outer-border {
  background-image: url("/afr/fusion/sliderBarH_mdTile.png");
}

af|inputNumberSlider::thumb-icon-style,
af|inputRangeSlider::thumb-icon-style {
  background-image: url('/afr/fusion/slider_thumb_vert_ena.png');
}

af|inputNumberSlider::plus-icon-style,
af|inputRangeSlider::plus-icon-style {
  background-image: url('/afr/fusion/slider_Hincrease_ena.png');
}

af|inputNumberSlider::plus-icon-style:rtl,
af|inputRangeSlider::plus-icon-style:rtl {
  background-image: url('/afr/fusion/slider_Hincrease_ena_rtl.png');
}

af|inputNumberSlider::plus-icon-style:hover,
af|inputRangeSlider::plus-icon-style:hover {
  background-image: url('/afr/fusion/slider_Hincrease_ovr.png');
}
af|inputNumberSlider::plus-icon-style:hover:rtl,
af|inputRangeSlider::plus-icon-style:hover:rtl {
  background-image: url('/afr/fusion/slider_Hincrease_ovr_rtl.png');
}
af|inputNumberSlider::plus-icon-style:depressed,
af|inputRangeSlider::plus-icon-style:depressed {
  background-image: url('/afr/fusion/slider_Hincrease_dwn.png');
}
af|inputNumberSlider::plus-icon-style:depressed:rtl,
af|inputRangeSlider::plus-icon-style:depressed:rtl {
  background-image: url('/afr/fusion/slider_Hincrease_dwn_rtl.png');
}
af|inputNumberSlider::minus-icon-style,
af|inputRangeSlider::minus-icon-style {
  background-image: url('/afr/fusion/slider_Hdecrease_ena.png');
}
af|inputNumberSlider::minus-icon-style:rtl,
af|inputRangeSlider::minus-icon-style:rtl {
  background-image: url('/afr/fusion/slider_Hdecrease_ena_rtl.png');
}
af|inputNumberSlider::minus-icon-style:hover,
af|inputRangeSlider::minus-icon-style:hover {
  background-image: url('/afr/fusion/slider_Hdecrease_ovr.png');
}
af|inputNumberSlider::minus-icon-style:hover:rtl,
af|inputRangeSlider::minus-icon-style:hover:rtl {
  background-image: url('/afr/fusion/slider_Hdecrease_ovr_rtl.png');
}
af|inputNumberSlider::minus-icon-style:depressed,
af|inputRangeSlider::minus-icon-style:depressed {
  background-image: url('/afr/fusion/slider_Hdecrease_dwn.png');
}
af|inputNumberSlider::minus-icon-style:depressed:rtl,
af|inputRangeSlider::minus-icon-style:depressed:rtl {
  background-image: url('/afr/fusion/slider_Hdecrease_dwn_rtl.png');
}
af|inputRangeSlider::range {
  background-image: url('/afr/fusion/sliderHighlight_mdTile.png');
}

af|inputNumberSlider:vertical::bar-outer-border,
af|inputRangeSlider:vertical::bar-outer-border {
  background-image: url("/afr/fusion/sliderBarV_mdTile.png");
}

af|inputNumberSlider:vertical::thumb-icon-style,
af|inputRangeSlider:vertical::thumb-icon-style {
  background-image: url('/afr/fusion/slider_thumb_horiz_ena.png');
}

af|inputNumberSlider:vertical::thumb-icon-style:rtl,
af|inputRangeSlider:vertical::thumb-icon-style:rtl {
  background-image: url('/afr/fusion/slider_thumb_horiz_ena_rtl.png');
}

af|inputNumberSlider:vertical::plus-icon-style,
af|inputRangeSlider:vertical::plus-icon-style {
  background-image: url('/afr/fusion/slider_increase_ena.png');
}

af|inputNumberSlider:vertical::plus-icon-style:hover,
af|inputRangeSlider:vertical::plus-icon-style:hover {
  background-image: url('/afr/fusion/slider_increase_ovr.png');
}
af|inputNumberSlider:vertical::plus-icon-style:depressed,
af|inputRangeSlider:vertical::plus-icon-style:depressed {
  background-image: url('/afr/fusion/slider_increase_dwn.png');
}

af|inputNumberSlider:vertical::minus-icon-style,
af|inputRangeSlider:vertical::minus-icon-style {
  background-image: url('/afr/fusion/slider_decrease_ena.png');
}
af|inputNumberSlider:vertical::minus-icon-style:hover,
af|inputRangeSlider:vertical::minus-icon-style:hover {
  background-image: url('/afr/fusion/slider_decrease_ovr.png');
}
af|inputNumberSlider:vertical::minus-icon-style:depressed,
af|inputRangeSlider:vertical::minus-icon-style:depressed {
  background-image: url('/afr/fusion/slider_decrease_dwn.png');
}
af|inputRangeSlider:vertical::range {
  background-image: url('/afr/fusion/sliderHV_mdTile.png');
}
af|inputNumberSlider:disabled::bar-outer-border,
af|inputRangeSlider:disabled::bar-outer-border {
  background-image: url("/afr/fusion/sliderBarH_dis_mdTile.png");
  padding: 0px 5px;
}
af|inputNumberSlider:disabled:vertical::bar-outer-border,
af|inputRangeSlider:disabled:vertical::bar-outer-border {
  background-image: url("/afr/fusion/sliderH_dis_mdTile.png");
}
af|inputRangeSlider:disabled::range {
  background-image: url('/afr/fusion/sliderH_dis_mdTile.png');
}
af|inputRangeSlider:disabled:vertical::range {
  background-image: url('/afr/fusion/sliderHV_dis_mdTile.png');
}
af|inputNumberSlider:disabled::thumb-icon-style,
af|inputRangeSlider:disabled::thumb-icon-style {
  background-image: url('/afr/fusion/slider_thumb_vert_dis.png');
}
af|inputNumberSlider:vertical:disabled::thumb-icon-style,
af|inputRangeSlider:vertical:disabled::thumb-icon-style {
  background-image: url('/afr/fusion/slider_thumb_horiz_dis.png');
}
af|inputNumberSlider:vertical:disabled::thumb-icon-style:rtl,
af|inputRangeSlider:vertical:disabled::thumb-icon-style:rtl {
  background-image: url('/afr/fusion/slider_thumb_horiz_dis_rtl.png');
}
af|inputNumberSlider:disabled::minus-icon-style,
af|inputRangeSlider:disabled::minus-icon-style,
af|inputNumberSlider::minus-icon-style:disabled,
af|inputNumberSlider::minus-icon-style:disabled:hover,
af|inputNumberSlider::minus-icon-style:disabled:depressed,
af|inputRangeSlider::minus-icon-style:disabled,
af|inputRangeSlider::minus-icon-style:disabled:hover,
af|inputRangeSlider::minus-icon-style:disabled:depressed {
  background-image: url('/afr/fusion/slider_Hdecrease_dis.png');
}
af|inputNumberSlider:disabled::plus-icon-style,
af|inputRangeSlider:disabled::plus-icon-style,
af|inputNumberSlider::plus-icon-style:disabled,
af|inputNumberSlider::plus-icon-style:disabled:hover,
af|inputNumberSlider::plus-icon-style:disabled:depressed,
af|inputRangeSlider::plus-icon-style:disabled,
af|inputRangeSlider::plus-icon-style:disabled:hover,
af|inputRangeSlider::plus-icon-style:disabled:depressed {
  background-image: url('/afr/fusion/slider_Hincrease_dis.png');
}
af|inputNumberSlider:disabled::plus-icon-style:rtl,
af|inputRangeSlider:disabled::plus-icon-style:rtl,
af|inputNumberSlider::plus-icon-style:disabled:rtl,
af|inputNumberSlider::plus-icon-style:disabled:hover:rtl,
af|inputNumberSlider::plus-icon-style:disabled:depressed:rtl,
af|inputRangeSlider::plus-icon-style:disabled:rtl,
af|inputRangeSlider::plus-icon-style:disabled:hover:rtl,
af|inputRangeSlider::plus-icon-style:disabled:depressed:rtl {
  background-image: url('/afr/fusion/slider_Hincrease_dis_rtl.png');
}
af|inputNumberSlider:vertical:disabled::minus-icon-style,
af|inputRangeSlider:vertical:disabled::minus-icon-style,
af|inputNumberSlider:vertical::minus-icon-style:disabled,
af|inputNumberSlider:vertical::minus-icon-style:disabled:hover,
af|inputNumberSlider:vertical::minus-icon-style:disabled:depressed,
af|inputRangeSlider:vertical::minus-icon-style:disabled,
af|inputRangeSlider:vertical::minus-icon-style:disabled:hover,
af|inputRangeSlider:vertical::minus-icon-style:disabled:depressed {
  background-image: url('/afr/fusion/slider_decrease_dis.png');
}
af|inputNumberSlider:vertical:disabled::minus-icon-style:rtl,
af|inputRangeSlider:vertical:disabled::minus-icon-style:rtl,
af|inputNumberSlider:vertical::minus-icon-style:disabled:rtl,
af|inputNumberSlider:vertical::minus-icon-style:disabled:hover:rtl,
af|inputNumberSlider:vertical::minus-icon-style:disabled:depressed:rtl,
af|inputRangeSlider:vertical::minus-icon-style:disabled:rtl,
af|inputRangeSlider:vertical::minus-icon-style:disabled:hover:rtl,
af|inputRangeSlider:vertical::minus-icon-style:disabled:depressed:rtl {
  background-image: url('/afr/fusion/slider_decrease_dis_rtl.png');
}
af|inputNumberSlider:vertical:disabled::plus-icon-style,
af|inputRangeSlider:vertical:disabled::plus-icon-style,
af|inputNumberSlider:vertical::plus-icon-style:disabled,
af|inputNumberSlider:vertical::plus-icon-style:disabled:hover,
af|inputNumberSlider:vertical::plus-icon-style:disabled:depressed,
af|inputRangeSlider:vertical::plus-icon-style:disabled,
af|inputRangeSlider:vertical::plus-icon-style:disabled:hover,
af|inputRangeSlider:vertical::plus-icon-style:disabled:depressed {
  background-image: url('/afr/fusion/slider_increase_dis.png');
}


af|column::filter-clear-all-icon-style {
  background-image: url("/afr/clear_sm.png");
}

af|column::filter-clear-all-icon-style:hover {
  background-image: url("/afr/clear_sm_ovr.png");
}

af|column::filter-clear-all-icon-style:active {
  background-image: url("/afr/clear_sm_dwn.png");
}

af|column::sort-ascending-icon-style {
  background-image: url("/afr/fusion/sort_asc_ena.png");
}

af|column::sort-ascending-icon-style:hover {
  background-image: url("/afr/fusion/sort_asc_ovr.png");
}

af|column::sort-ascending-icon-style:active {
  background-image: url("/afr/fusion/sort_asc_selected.png");
}

af|column::sort-descending-icon-style {
  background-image: url("/afr/fusion/sort_des_ena.png");
}

af|column::sort-descending-icon-style:hover {
  background-image: url("/afr/fusion/sort_des_ovr.png");
}

af|column::sort-descending-icon-style:active {
  background-image: url("/afr/fusion/sort_des_selected.png");
}

af|column::sorted-ascending-icon-style {
  background-image: url("/afr/fusion/sort_asc_selected.png");
}

af|column::sorted-descending-icon-style {
  background-image: url("/afr/fusion/sort_des_selected.png");
}


af|table::disclosed-icon-style,
af|tree::expanded-icon-style,
af|treeTable::expanded-icon-style{
  background-image: url("/afr/fusion/discloseexpanded_ena.png");
}

af|table::undisclosed-icon-style,
af|tree::collapsed-icon-style,
af|treeTable::collapsed-icon-style{
  background-image:url("/afr/fusion/disclosecollapsed_ena.png");
}

af|table::undisclosed-icon-style:rtl,
af|tree::collapsed-icon-style:rtl,
af|treeTable::collapsed-icon-style:rtl{
  background-image:url("/afr/fusion/disclosecollapsed_ena_rtl.png");
}


af|panelSplitter::horizontal-icon-style {
  background-image: url("/afr/fusion/splitterh_bg.png");
}
af|panelSplitter::horizontal-icon-style:hover,
af|panelSplitter::horizontal-divider:disclosed:hover af|panelSplitter::horizontal-icon-style {
  background-image: url("/afr/fusion/splitterho_bg.png");
}
af|panelSplitter::horizontal-restore-icon {
  content: url("/afr/fusion/splitterhr.png");
}
af|panelSplitter::horizontal-collapse-icon {
  content: url("/afr/fusion/splitterhc.png");
}

af|panelSplitter::vertical-icon-style {
  background-image: url("/afr/fusion/splitterv_bg.png");
}
af|panelSplitter::vertical-icon-style:hover,
af|panelSplitter::vertical-divider:disclosed:hover af|panelSplitter::vertical-icon-style {
  background-image: url("/afr/fusion/splittervo_bg.png");
}
af|panelSplitter::vertical-restore-icon {
  content: url("/afr/fusion/splittervr.png");
}
af|panelSplitter::vertical-collapse-icon {
  content: url("/afr/fusion/splittervc.png");
}

af|panelWindow::close-icon-style,
af|dialog::close-icon-style
{
  background-image: url("/afr/fusion/close_ena.png");
}

af|panelWindow::close-icon-style:hover,
af|dialog::close-icon-style:hover {
  background-image:url("/afr/fusion/close_ovr.png");
}

af|panelWindow::close-icon-style:active,
af|dialog::close-icon-style:active {
  background-image:url("/afr/fusion/close_dwn.png");
}

af|train::stop-icon-selected,
af|train-vertical::stop-icon-selected {
  background-image: url('/afr/fusion/train_active.png');
}
af|train::stop-icon-disabled,
af|train-vertical::stop-icon-disabled {
  background-image: url('/afr/fusion/train_dis.png');
}
af|train::stop-icon-unvisited,
af|train-vertical::stop-icon-unvisited {
  background-image: url('/afr/fusion/train_unvisited_ena.png');
}
af|train::stop-icon-unvisited:hover,
af|train-vertical::stop-icon-unvisited:hover {
  background-image: url('/afr/fusion/train_unvisited_ovr.png');
}
af|train::stop-icon-unvisited:active,
af|train-vertical::stop-icon-unvisited:active {
  background-image: url('/afr/fusion/train_unvisited_dwn.png');
}
af|train::stop-icon-visited,
af|train-vertical::stop-icon-visited {
  background-image: url('/afr/fusion/train_visited_ena.png');
}
af|train::stop-icon-visited:hover,
af|train-vertical::stop-icon-visited:hover {
  background-image: url('/afr/fusion/train_visited_ovr.png');
}
af|train::stop-icon-visited:active,
af|train-vertical::stop-icon-visited:active {
  background-image: url('/afr/fusion/train_visited_dwn.png');
}

af|inputColor::launch-icon-style {
  background-image: url("/afr/fusion/inputcolorbutton_1x14_ena.png");
}

af|inputColor::launch-icon-style:hover {
  background-image: url('/afr/fusion/inputcolorbutton_1x14_ovr.png');
}

af|inputColor::launch-icon-style:active {
  background-image: url('/afr/fusion/inputcolorbutton_1x14_dwn.png');
}

af|inputColor::launch-icon {
  content: url("/afr/fusion/compactBS_symbol_ena.png");
}

af|inputColor::launch-icon:hover {
  content: url("/afr/fusion/compactBS_symbol_ovr.png");
}

af|inputColor::launch-icon:active {
  content: url("/afr/fusion/compactBS_symbol_dwn.png");
}


@agent ie {

  af|inputNumberSpinbox:click-to-edit:focus-target::incrementor-icon-style,
  af|inputNumberSpinbox:click-to-edit:hover-target::incrementor-icon-style{
    background-image: url(/afr/fusion/spinboxup_ena.png);
  }
  af|inputNumberSpinbox:click-to-edit:focus-target::decrementor-icon-style,
  af|inputNumberSpinbox:click-to-edit:hover-target::decrementor-icon-style{
    background-image: url(/afr/fusion/spinboxdown_ena.png);
  }
  af|inputComboboxListOfValues:click-to-edit:focus-target::dropdown-cell,
  af|inputComboboxListOfValues:click-to-edit:hover-target::dropdown-cell,
  af|selectManyChoice:click-to-edit:focus-target::dropdown,
  af|selectManyChoice:click-to-edit:hover-target::dropdown {
    background-image: url('/afr/fusion/dropDB_1x11_ena.png');
  }
  
  af|inputComboboxListOfValues:click-to-edit:focus-target::dropdown-icon-style,
  af|inputComboboxListOfValues:click-to-edit:hover-target::dropdown-icon-style,
  af|selectManyChoice:click-to-edit:focus-target::dropdown-icon-style,
  af|selectManyChoice:click-to-edit:hover-target::dropdown-icon-style {
   background-image: url('/afr/fusion/dropDB_symbol_ena.png');
  }
}


af|showDetail::disclosed-icon {
  content: url('/afr/fusion/discloseexpanded_ena.png');
}

af|showDetail::undisclosed-icon {
  content: url('/afr/fusion/disclosecollapsed_ena.png');
}

af|showDetail::undisclosed-icon:rtl {
  content: url('/afr/fusion/disclosecollapsed_ena_rtl.png');
}
