/* ----------------------------------------------------------------------------------*/
/* Start of styles from fusion-simple-theme-addition */

.AFAttachedToolbarGradient:alias {
  background-image:url("/afr/toolbar_dec_grad.png");
}
.AFTabAboveStartUnselectedLevel1Background:alias:ltr,
.AFTabAboveStartUnselectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_above_start_n.png');
}
.AFTabAboveStartUnselectedLevel1Background:alias:rtl,
.AFTabAboveStartUnselectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_above_start_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveStartUnselectedLevel1Background:alias:ltr,
  .AFTabAboveStartUnselectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_above_start_n.png');
  }
  .AFTabAboveStartUnselectedLevel1Background:alias:rtl,
  .AFTabAboveStartUnselectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_above_start_n_rtl.png');
  }
}
.AFTabAboveEndUnselectedLevel1Background:alias:ltr,
.AFTabAboveEndUnselectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_above_end_n.png');
}
.AFTabAboveEndUnselectedLevel1Background:alias:rtl,
.AFTabAboveEndUnselectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_above_end_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveEndUnselectedLevel1Background:alias:ltr,
  .AFTabAboveEndUnselectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_above_end_n.png');
  }
  .AFTabAboveEndUnselectedLevel1Background:alias:rtl,
  .AFTabAboveEndUnselectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_above_end_n_rtl.png');
  }
}
.AFTabAboveMiddleUnselectedLevel1Background:alias,
.AFTabAboveMiddleUnselectedLevel2Background:alias {
  background-image: url('/afr/fusion/t12_above_mid_n.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveMiddleUnselectedLevel1Background:alias,
  .AFTabAboveMiddleUnselectedLevel2Background:alias {
    background-image: url('/afr/fusion/t12lf_above_mid_n.png');
  }
}
.AFTabBelowStartUnselectedLevel1Background:alias:ltr,
.AFTabBelowStartUnselectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_below_start_n.png');
}
.AFTabBelowStartUnselectedLevel1Background:alias:rtl,
.AFTabBelowStartUnselectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_below_start_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowStartUnselectedLevel1Background:alias:ltr,
  .AFTabBelowStartUnselectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_below_start_n.png');
  }
  .AFTabBelowStartUnselectedLevel1Background:alias:rtl,
  .AFTabBelowStartUnselectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_below_start_n_rtl.png');
  }
}
.AFTabBelowEndUnselectedLevel1Background:alias:ltr,
.AFTabBelowEndUnselectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_below_end_n.png');
}
.AFTabBelowEndUnselectedLevel1Background:alias:rtl,
.AFTabBelowEndUnselectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_below_end_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowEndUnselectedLevel1Background:alias:ltr,
  .AFTabBelowEndUnselectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_below_end_n.png');
  }
  .AFTabBelowEndUnselectedLevel1Background:alias:rtl,
  .AFTabBelowEndUnselectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_below_end_n_rtl.png');
  }
}
.AFTabBelowMiddleUnselectedLevel1Background:alias,
.AFTabBelowMiddleUnselectedLevel2Background:alias {
  background-image: url('/afr/fusion/t12_below_mid_n.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowMiddleUnselectedLevel1Background:alias,
  .AFTabBelowMiddleUnselectedLevel2Background:alias {
    background-image: url('/afr/fusion/t12lf_below_mid_n.png');
  }
}
.AFTabAboveStartSelectedLevel1Background:alias:ltr,
.AFTabAboveStartSelectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_above_start_a.png');
}
.AFTabAboveStartSelectedLevel1Background:alias:rtl,
.AFTabAboveStartSelectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_above_start_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveStartSelectedLevel1Background:alias:ltr,
  .AFTabAboveStartSelectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_above_start_a.png');
  }
  .AFTabAboveStartSelectedLevel1Background:alias:rtl,
  .AFTabAboveStartSelectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_above_start_a_rtl.png');
  }
}
.AFTabAboveEndSelectedLevel1Background:alias:ltr,
.AFTabAboveEndSelectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_above_end_a.png');
}
.AFTabAboveEndSelectedLevel1Background:alias:rtl,
.AFTabAboveEndSelectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_above_end_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveEndSelectedLevel1Background:alias:ltr,
  .AFTabAboveEndSelectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_above_end_a.png');
  }
  .AFTabAboveEndSelectedLevel1Background:alias:rtl,
  .AFTabAboveEndSelectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_above_end_a_rtl.png');
  }
}
.AFTabAboveMiddleSelectedLevel1Background:alias,
.AFTabAboveMiddleSelectedLevel2Background:alias {
  background-image: url('/afr/fusion/t12_above_mid_a.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveMiddleSelectedLevel1Background:alias,
  .AFTabAboveMiddleSelectedLevel2Background:alias {
    background-image: url('/afr/fusion/t12lf_above_mid_a.png');
  }
}
.AFTabBelowStartSelectedLevel1Background:alias:ltr,
.AFTabBelowStartSelectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_below_start_a.png');
}
.AFTabBelowStartSelectedLevel1Background:alias:rtl,
.AFTabBelowStartSelectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_below_start_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowStartSelectedLevel1Background:alias:ltr,
  .AFTabBelowStartSelectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_below_start_a.png');
  }
  .AFTabBelowStartSelectedLevel1Background:alias:rtl,
  .AFTabBelowStartSelectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_below_start_a_rtl.png');
  }
}
.AFTabBelowEndSelectedLevel1Background:alias:ltr,
.AFTabBelowEndSelectedLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_below_end_a.png');
}
.AFTabBelowEndSelectedLevel1Background:alias:rtl,
.AFTabBelowEndSelectedLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_below_end_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowEndSelectedLevel1Background:alias:ltr,
  .AFTabBelowEndSelectedLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_below_end_a.png');
  }
  .AFTabBelowEndSelectedLevel1Background:alias:rtl,
  .AFTabBelowEndSelectedLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_below_end_a_rtl.png');
  }
}
.AFTabBelowMiddleSelectedLevel1Background:alias,
.AFTabBelowMiddleSelectedLevel2Background:alias {
  background-image: url('/afr/fusion/t12_below_mid_a.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowMiddleSelectedLevel1Background:alias,
  .AFTabBelowMiddleSelectedLevel2Background:alias {
    background-image: url('/afr/fusion/t12lf_below_mid_a.png');
  }
}
.AFTabAboveStartUnselectedDisabledLevel1Background:alias:ltr,
.AFTabAboveStartUnselectedDisabledLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_above_start_d.png');
}
.AFTabAboveStartUnselectedDisabledLevel1Background:alias:rtl,
.AFTabAboveStartUnselectedDisabledLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_above_start_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveStartUnselectedDisabledLevel1Background:alias:ltr,
  .AFTabAboveStartUnselectedDisabledLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_above_start_d.png');
  }
  .AFTabAboveStartUnselectedDisabledLevel1Background:alias:rtl,
  .AFTabAboveStartUnselectedDisabledLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_above_start_d_rtl.png');
  }
}

.AFTabAboveEndUnselectedDisabledLevel1Background:alias:ltr,
.AFTabAboveEndUnselectedDisabledLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_above_end_d.png');
}
.AFTabAboveEndUnselectedDisabledLevel1Background:alias:rtl,
.AFTabAboveEndUnselectedDisabledLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_above_end_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveEndUnselectedDisabledLevel1Background:alias:ltr,
  .AFTabAboveEndUnselectedDisabledLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_above_end_d.png');
  }
  .AFTabAboveEndUnselectedDisabledLevel1Background:alias:rtl,
  .AFTabAboveEndUnselectedDisabledLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_above_end_d_rtl.png');
  }
}

.AFTabAboveMiddleUnselectedDisabledLevel1Background:alias,
.AFTabAboveMiddleUnselectedDisabledLevel2Background:alias {
  background-image: url('/afr/fusion/t12_above_mid_d.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveMiddleUnselectedDisabledLevel1Background:alias,
  .AFTabAboveMiddleUnselectedDisabledLevel2Background:alias {
    background-image: url('/afr/fusion/t12lf_above_mid_d.png');
  }
}

.AFTabBelowStartUnselectedDisabledLevel1Background:alias:ltr,
.AFTabBelowStartUnselectedDisabledLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_below_start_d.png');
}
.AFTabBelowStartUnselectedDisabledLevel1Background:alias:rtl,
.AFTabBelowStartUnselectedDisabledLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_below_start_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowStartUnselectedDisabledLevel1Background:alias:ltr,
  .AFTabBelowStartUnselectedDisabledLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_below_start_d.png');
  }
  .AFTabBelowStartUnselectedDisabledLevel1Background:alias:rtl,
  .AFTabBelowStartUnselectedDisabledLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_below_start_d_rtl.png');
  }
}

.AFTabBelowEndUnselectedDisabledLevel1Background:alias:ltr,
.AFTabBelowEndUnselectedDisabledLevel2Background:alias:ltr {
  background-image: url('/afr/fusion/t12_below_end_d.png');
}
.AFTabBelowEndUnselectedDisabledLevel1Background:alias:rtl,
.AFTabBelowEndUnselectedDisabledLevel2Background:alias:rtl {
  background-image: url('/afr/fusion/t12_below_end_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowEndUnselectedDisabledLevel1Background:alias:ltr,
  .AFTabBelowEndUnselectedDisabledLevel2Background:alias:ltr {
    background-image: url('/afr/fusion/t12lf_below_end_d.png');
  }
  .AFTabBelowEndUnselectedDisabledLevel1Background:alias:rtl,
  .AFTabBelowEndUnselectedDisabledLevel2Background:alias:rtl {
    background-image: url('/afr/fusion/t12lf_below_end_d_rtl.png');
  }
}

.AFTabBelowMiddleUnselectedDisabledLevel1Background:alias,
.AFTabBelowMiddleUnselectedDisabledLevel2Background:alias {
  background-image: url('/afr/fusion/t12_below_mid_d.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowMiddleUnselectedDisabledLevel1Background:alias,
  .AFTabBelowMiddleUnselectedDisabledLevel2Background:alias {
    background-image: url('/afr/fusion/t12lf_below_mid_d.png');
  }
}
af|panelTabbed::header-start[theme="medium"],
af|panelTabbed::header-start[theme="dark"],
af|decorativeBox::top-start[theme="light"],
af|decorativeBox::top-start[theme="medium"] {
  background-image: url('/afr/fusion/dblts.png');
}
af|panelTabbed::header-end[theme="medium"],
af|panelTabbed::header-end[theme="dark"],
af|decorativeBox::top-end[theme="light"],
af|decorativeBox::top-end[theme="medium"] {
  background-image: url('/afr/fusion/dblte.png');
}
af|panelTabbed::footer-start[theme="medium"],
af|panelTabbed::footer-start[theme="dark"],
af|decorativeBox::bottom-start[theme="light"],
af|decorativeBox::bottom-start[theme="medium"] {
  background-image: url('/afr/fusion/dblbs.png');
}
af|panelTabbed::footer-end[theme="medium"],
af|panelTabbed::footer-end[theme="dark"],
af|decorativeBox::bottom-end[theme="light"],
af|decorativeBox::bottom-end[theme="medium"] {
  background-image: url('/afr/fusion/dblbe.png');
}
af|panelTabbed::body-start[theme="medium"],
af|panelTabbed::body-start[theme="dark"],
af|decorativeBox::start[theme="light"],
af|decorativeBox::start[theme="medium"] {
  background-image: url('/afr/fusion/dbls.png');
}
af|panelTabbed::body-end[theme="medium"],
af|panelTabbed::body-end[theme="dark"],
af|decorativeBox::end[theme="light"],
af|decorativeBox::end[theme="medium"] {
  background-image: url('/afr/fusion/dble.png');
}
af|panelTabbed::header-center[theme="medium"],
af|panelTabbed::header-center[theme="dark"],
af|decorativeBox::top[theme="light"],
af|decorativeBox::top[theme="medium"] {
  background-image: url('/afr/fusion/dblt.png');
}
af|panelTabbed::footer-center[theme="medium"],
af|panelTabbed::footer-center[theme="dark"],
af|decorativeBox::bottom[theme="light"],
af|decorativeBox::bottom[theme="medium"] {
  background-image: url('/afr/fusion/dblb.png');
}
af|panelTabbed::body[theme="medium"],
af|panelTabbed::body[theme="dark"],
af|decorativeBox::center[theme="light"],
af|decorativeBox::center[theme="medium"] {
  background-image: url('/afr/fusion/dblc.png');
}
af|panelTabbed::header-start[theme="medium"]:rtl,
af|panelTabbed::header-start[theme="dark"]:rtl,
af|decorativeBox::top-start[theme="light"]:rtl,
af|decorativeBox::top-start[theme="medium"]:rtl {
  background-image: url('/afr/fusion/dblts_r.png');
}
af|panelTabbed::header-end[theme="medium"]:rtl,
af|panelTabbed::header-end[theme="dark"]:rtl,
af|decorativeBox::top-end[theme="light"]:rtl,
af|decorativeBox::top-end[theme="medium"]:rtl {
  background-image: url('/afr/fusion/dblte_r.png');
}
af|panelTabbed::footer-start[theme="medium"]:rtl,
af|panelTabbed::footer-start[theme="dark"]:rtl,
af|decorativeBox::bottom-start[theme="light"]:rtl,
af|decorativeBox::bottom-start[theme="medium"]:rtl {
  background-image: url('/afr/fusion/dblbs_r.png');
}
af|panelTabbed::footer-end[theme="medium"]:rtl,
af|panelTabbed::footer-end[theme="dark"]:rtl,
af|decorativeBox::bottom-end[theme="light"]:rtl,
af|decorativeBox::bottom-end[theme="medium"]:rtl {
  background-image: url('/afr/fusion/dblbe_r.png');
}
af|panelTabbed::body-start[theme="medium"]:rtl,
af|panelTabbed::body-start[theme="dark"]:rtl,
af|decorativeBox::start[theme="light"]:rtl,
af|decorativeBox::start[theme="medium"]:rtl {
  background-image: url('/afr/fusion/dbls_r.png');
}
af|panelTabbed::body-end[theme="medium"]:rtl,
af|panelTabbed::body-end[theme="dark"]:rtl,
af|decorativeBox::end[theme="light"]:rtl,
af|decorativeBox::end[theme="medium"]:rtl {
  background-image: url('/afr/fusion/dble_r.png');
}
af|decorativeBox::top-start[theme="dark"],
af|decorativeBox::top-end[theme="dark"]:rtl {
  background-image: url('/afr/fusion/dbdts.png');
}
af|decorativeBox::top-start[theme="contentBody"],
af|decorativeBox::top-end[theme="contentBody"]:rtl {
  background-image: url('/afr/fusion/dbdt.png');
}
af|decorativeBox::top-end[theme="dark"],
af|decorativeBox::top-start[theme="dark"]:rtl {
  background-image: url('/afr/fusion/dbdte.png');
}
af|decorativeBox::top-end[theme="contentBody"],
af|decorativeBox::top-start[theme="contentBody"]:rtl {
  background-image: url('/afr/fusion/dbdt.png');
}
af|decorativeBox::start[theme="dark"],
af|decorativeBox::end[theme="dark"],
af|decorativeBox::start[theme="contentBody"],
af|decorativeBox::end[theme="contentBody"] {
  background-image: url('/afr/fusion/dbd_topShadow.png');
}
af|decorativeBox::top[theme="dark"],
af|decorativeBox::top[theme="contentBody"] {
  background-image: url('/afr/fusion/dbdt.png');
}
af|decorativeBox::bottom-start[theme="dark"],
af|decorativeBox::bottom-end[theme="dark"]:rtl {
  background-image: url('/afr/fusion/dbdbs.png');
}
af|decorativeBox::bottom-end[theme="dark"],
af|decorativeBox::bottom-start[theme="dark"]:rtl {
  background-image: url('/afr/fusion/dbdbe.png');
}
.AFDecorativeBoxDarkTopShadowIcon:alias {
  content: url('/afr/fusion/dbd_topShadow.png');
}
.AFDecorativeBoxDarkGradientIcon:alias {
  content: url('/afr/fusion-simple/dbd_centerGradient.png');
}

/* End of styles from richcomponents-simple-theme-addition */
/* ----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------*/
/* Start of styles from richcomponents-simple-desktop */

/* End of styles from richcomponents-simple-desktop */
/* ----------------------------------------------------------------------------------*/



.AFPanelBoxHeaderStartDefault:alias{
  background-image: url('/afr/fusion/ccont-ts.png');
}
.AFPanelBoxHeaderStartDefault:alias:rtl{
  background-image: url('/afr/fusion/ccont-ts-r.png');
}
.AFPanelBoxHeaderEndDefault:alias{
  background-image: url('/afr/fusion/ccont-te.png');
}
.AFPanelBoxHeaderEndDefault:alias:rtl{
  background-image: url('/afr/fusion/ccont-te-r.png');
}
.AFPanelBoxHeaderCenterDefault:alias{
  background-image: url('/afr/fusion/ccont-t.png');
}

.AFPanelBoxFooterStartDefault:alias{
  background-image: url('/afr/fusion/ccont-bs.png');
}
.AFPanelBoxFooterStartDefault:alias:rtl{
  background-image: url('/afr/fusion/ccont-bs-r.png');
}
.AFPanelBoxFooterEndDefault:alias{
  background-image: url('/afr/fusion/ccont-be.png');
}
.AFPanelBoxFooterEndDefault:alias:rtl{
  background-image: url('/afr/fusion/ccont-be-r.png');
}
.AFPanelBoxFooterCenterDefault:alias{
  background-image: url('/afr/fusion/ccont-b.png');
}

.AFPanelBoxContentCenterDefault:alias{
  background-image: url('/afr/fusion/ccont-e.png');
}
.AFPanelBoxContentCenterDefault:alias:rtl{
  background-image: url('/afr/fusion/ccont-e-r.png');
}

.AFButtonBackground:alias {
  background-image: url('/afr/fusion/button_bg_ena.png');
}

.AFButtonBackgroundHover:alias {
  background-image: url('/afr/fusion/button_bg_ovr.png');
}

.AFButtonBackgroundActive:alias {
  background-image: url('/afr/fusion/button_bg_dwn.png');
}

.AFButtonBackgroundFocus:alias {
  background-image: url('/afr/fusion/button_bg_ena.png');
}

.AFFormControlContentBackground:alias {
  background-image:  url('/afr/fusion/inputText_bg.png');
}

af|document {
  background-image: url('/afr/fusion/page_background_white.png');
}


af|panelBox::footer-start:core:default,
af|panelBox::footer-start:highlight:default,
af|region::footer-start:core:default {
  background-image: url('/afr/fusion/ccont-bs.png');
}
af|panelBox::footer-start:core:default:rtl,
af|panelBox::footer-start:highlight:default:rtl,
af|region::footer-start:core:default:rtl {
  background-image: url('/afr/fusion/ccont-bs-r.png');
}

af|panelBox::footer-center:core:default,
af|panelBox::footer-center:highlight:default,
af|region::footer-center:core:default {
  background-image: url('/afr/fusion/ccont-b.png');
}

af|panelBox::footer-end:core:default,
af|panelBox::footer-end:highlight:default,
af|region::footer-end:core:default {
  background-image: url('/afr/fusion/ccont-be.png');
}
af|panelBox::footer-end:core:default:rtl,
af|panelBox::footer-end:highlight:default:rtl,
af|region::footer-end:core:default:rtl {
  background-image: url('/afr/fusion/ccont-be-r.png');
}

af|panelBox::header-start:core:light,
af|panelBox::header-start:core:medium {
  background-image: url('/afr/fusion/ccont-ts-cl.png');
}
af|panelBox::header-start:core:light:rtl,
af|panelBox::header-start:core:medium:rtl {
  background-image: url('/afr/fusion/ccont-ts-cl-r.png');
}

af|panelBox::header-center:core:light,
af|panelBox::header-center:core:medium {
  background-image: url('/afr/fusion/ccont-t-cl.png');
}

af|panelBox::header-end:core:light,
af|panelBox::header-end:core:medium {
  background-image: url('/afr/fusion/ccont-te-cl.png');
}
af|panelBox::header-end:core:light:rtl,
af|panelBox::header-end:core:medium:rtl {
  background-image: url('/afr/fusion/ccont-te-cl-r.png');
}

af|panelBox::center:core:light,
af|panelBox::center:core:medium {
  background-image: url('/afr/fusion/ccont-e-cl.png');
}
af|panelBox::center:core:light:rtl,
af|panelBox::center:core:medium:rtl {
  background-image: url('/afr/fusion/ccont-e-cl-r.png');
}

af|panelBox::footer-start:core:light,
af|panelBox::footer-start:core:medium {
  background-image: url('/afr/fusion/ccont-bs-cl.png');
}
af|panelBox::footer-start:core:light:rtl,
af|panelBox::footer-start:core:medium:rtl {
  background-image: url('/afr/fusion/ccont-bs-cl-r.png');
}

af|panelBox::footer-center:core:light,
af|panelBox::footer-center:core:medium {
  background-image: url('/afr/fusion/ccont-b-cl.png');
}

af|panelBox::footer-end:core:light,
af|panelBox::footer-end:core:medium {
  background-image: url('/afr/fusion/ccont-be-cl.png');
}
af|panelBox::footer-end:core:light:rtl,
af|panelBox::footer-end:core:medium:rtl {
  background-image: url('/afr/fusion/ccont-be-cl-r.png');
}

af|panelBox::header-start:core:dark {
  background-image: url('/afr/fusion/ccont-ts-cd.png');
}
af|panelBox::header-start:core:dark:rtl {
  background-image: url('/afr/fusion/ccont-ts-cd-r.png');
}

af|panelBox::header-center:core:dark {
  background-image: url('/afr/fusion/ccont-t-cd.png');
}

af|panelBox::header-end:core:dark {
  background-image: url('/afr/fusion/ccont-te-cd.png');
}
af|panelBox::header-end:core:dark:rtl {
  background-image: url('/afr/fusion/ccont-te-cd-r.png');
}

af|panelBox::center:core:dark {
  background-image: url('/afr/fusion/ccont-e-cd.png');
}
af|panelBox::center:core:dark:rtl {
  background-image: url('/afr/fusion/ccont-e-cd-r.png');
}

af|panelBox::footer-start:core:dark {
  background-image: url('/afr/fusion/ccont-bs-cd.png');
}
af|panelBox::footer-start:core:dark:rtl {
  background-image: url('/afr/fusion/ccont-bs-cd-r.png');
}

af|panelBox::footer-center:core:dark {
  background-image: url('/afr/fusion/ccont-b-cd.png');
}

af|panelBox::footer-end:core:dark {
  background-image: url('/afr/fusion/ccont-be-cd.png');
}
af|panelBox::footer-end:core:dark:rtl {
  background-image: url('/afr/fusion/ccont-be-cd-r.png');
}


.AFTabAboveStartUnselectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_above_start_n.png');
}
.AFTabAboveStartUnselectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_above_start_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveStartUnselectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_above_start_n.png');
  }
  .AFTabAboveStartUnselectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_above_start_n_rtl.png');
  }
}
.AFTabAboveStartUnselectedDisabledBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_above_start_d.png');
}
.AFTabAboveStartUnselectedDisabledBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_above_start_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveStartUnselectedDisabledBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_above_start_d.png');
  }
  .AFTabAboveStartUnselectedDisabledBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_above_start_d_rtl.png');
  }
}

.AFTabAboveEndUnselectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_above_end_n.png');
}
.AFTabAboveEndUnselectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_above_end_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveEndUnselectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_above_end_n.png');
  }
  .AFTabAboveEndUnselectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_above_end_n_rtl.png');
  }
}
.AFTabAboveEndUnselectedDisabledBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_above_end_d.png');
}
.AFTabAboveEndUnselectedDisabledBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_above_end_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveEndUnselectedDisabledBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_above_end_d.png');
  }
  .AFTabAboveEndUnselectedDisabledBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_above_end_d_rtl.png');
  }
}

.AFTabAboveMiddleUnselectedBackground:alias {
  background-image: url('/afr/fusion/t3_above_mid_n.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveMiddleUnselectedBackground:alias {
    background-image: url('/afr/fusion/t3lf_above_mid_n.png');
  }
}
.AFTabAboveMiddleUnselectedDisabledBackground:alias {
  background-image: url('/afr/fusion/t3_above_mid_d.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveMiddleUnselectedDisabledBackground:alias {
    background-image: url('/afr/fusion/t3lf_above_mid_d.png');
  }
}

.AFTabBelowStartUnselectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_below_start_n.png');
}
.AFTabBelowStartUnselectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_below_start_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowStartUnselectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_below_start_n.png');
  }
  .AFTabBelowStartUnselectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_below_start_n_rtl.png');
  }
}
.AFTabBelowStartUnselectedDisabledBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_below_start_d.png');
}
.AFTabBelowStartUnselectedDisabledBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_below_start_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowStartUnselectedDisabledBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_below_start_d.png');
  }
  .AFTabBelowStartUnselectedDisabledBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_below_start_d_rtl.png');
  }
}

.AFTabBelowEndUnselectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_below_end_n.png');
}
.AFTabBelowEndUnselectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_below_end_n_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowEndUnselectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_below_end_n.png');
  }
  .AFTabBelowEndUnselectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_below_end_n_rtl.png');
  }
}
.AFTabBelowEndUnselectedDisabledBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_below_end_d.png');
}
.AFTabBelowEndUnselectedDisabledBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_below_end_d_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowEndUnselectedDisabledBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_below_end_d.png');
  }
  .AFTabBelowEndUnselectedDisabledBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_below_end_d_rtl.png');
  }
}

.AFTabBelowMiddleUnselectedBackground:alias {
  background-image: url('/afr/fusion/t3_below_mid_n.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowMiddleUnselectedBackground:alias {
    background-image: url('/afr/fusion/t3lf_below_mid_n.png');
  }
}
.AFTabBelowMiddleUnselectedDisabledBackground:alias {
  background-image: url('/afr/fusion/t3_below_mid_d.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowMiddleUnselectedDisabledBackground:alias {
    background-image: url('/afr/fusion/t3lf_below_mid_d.png');
  }
}

.AFTabAboveStartSelectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_above_start_a.png');
}
.AFTabAboveStartSelectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_above_start_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveStartSelectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_above_start_a.png');
  }
  .AFTabAboveStartSelectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_above_start_a_rtl.png');
  }
}

.AFTabAboveEndSelectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_above_end_a.png');
}
.AFTabAboveEndSelectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_above_end_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveEndSelectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_above_end_a.png');
  }
  .AFTabAboveEndSelectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_above_end_a_rtl.png');
  }
}

.AFTabAboveMiddleSelectedBackground:alias {
  background-image: url('/afr/fusion/t3_above_mid_a.png');
}
@accessibility-profile large-fonts {
  .AFTabAboveMiddleSelectedBackground:alias {
    background-image: url('/afr/fusion/t3lf_above_mid_a.png');
  }
}

.AFTabBelowStartSelectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_below_start_a.png');
}
.AFTabBelowStartSelectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_below_start_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowStartSelectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_below_start_a.png');
  }
  .AFTabBelowStartSelectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_below_start_a_rtl.png');
  }
}

.AFTabBelowEndSelectedBackground:alias:ltr {
  background-image: url('/afr/fusion/t3_below_end_a.png');
}
.AFTabBelowEndSelectedBackground:alias:rtl {
  background-image: url('/afr/fusion/t3_below_end_a_rtl.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowEndSelectedBackground:alias:ltr {
    background-image: url('/afr/fusion/t3lf_below_end_a.png');
  }
  .AFTabBelowEndSelectedBackground:alias:rtl {
    background-image: url('/afr/fusion/t3lf_below_end_a_rtl.png');
  }
}

.AFTabBelowMiddleSelectedBackground:alias {
  background-image: url('/afr/fusion/t3_below_mid_a.png');
}
@accessibility-profile large-fonts {
  .AFTabBelowMiddleSelectedBackground:alias {
    background-image: url('/afr/fusion/t3lf_below_mid_a.png');
  }
}


af|commandToolbarButton {
  background-image: url('/afr/fusion/button_bg_ena.png');
}

af|toolbar af|commandToolbarButton:text-only {
  background-image: url('/afr/fusion/button_bg_ena.png');
}

af|commandToolbarButton:hover,
af|commandToolbarButton:text-only:hover,
af|toolbar af|commandToolbarButton:hover,
af|toolbar af|commandToolbarButton:text-only:hover
{
  background-image: url("/afr/fusion/button_bg_ovr.png");
}

af|commandToolbarButton:depressed,
af|commandToolbarButton:depressed:hover,
af|toolbar af|commandToolbarButton:depressed,
af|toolbar af|commandToolbarButton:depressed:hover,
af|commandToolbarButton:selected,
af|commandToolbarButton:selected:hover,
af|commandToolbarButton:selected:active,
af|commandToolbarButton:selected:active:hover,
af|toolbar af|commandToolbarButton:selected,
af|toolbar af|commandToolbarButton:selected:hover,
af|toolbar af|commandToolbarButton:selected:active,
af|toolbar af|commandToolbarButton:selected:active:hover,
af|commandToolbarButton:text-only:depressed,
af|commandToolbarButton:text-only:depressed:hover,
af|commandToolbarButton:text-only:selected,
af|commandToolbarButton:text-only:selected:hover,
af|commandToolbarButton:text-only:selected:active,
af|commandToolbarButton:text-only:selected:active:hover,
af|toolbar af|commandToolbarButton:text-only:depressed,
af|toolbar af|commandToolbarButton:text-only:depressed:hover,
af|toolbar af|commandToolbarButton:text-only:selected,
af|toolbar af|commandToolbarButton:text-only:selected:hover,
af|toolbar af|commandToolbarButton:text-only:selected:active,
af|toolbar af|commandToolbarButton:text-only:selected:active:hover {
  background-image: url("/afr/fusion/button_bg_dwn.png");
}


af|menuBar::model-bar-nav-item:depressed {
  background-image: url("/afr/fusion/button_bg_dwn.png");
}

af|menuBar::model-bar-nav-item:highlighted {
  background-image: url("/afr/fusion/button_bg_ovr.png");
}
af|commandMenuItem::bar-item:highlighted,
af|goMenuItem::bar-item:highlighted,
af|menu::bar-item:highlighted {
  background-image: url("/afr/fusion/button_bg_ovr.png");
}

af|commandMenuItem::bar-item:depressed,
af|goMenuItem::bar-item:depressed,
af|menu::bar-item:depressed {
  background-image: url("/afr/fusion/button_bg_dwn.png");
}

af|panelHeader::title-start1,
af|panelHeader::title-end1:rtl,
af|showDetailHeader::title-start1,
af|showDetailHeader::title-end1:rtl,
af|query::title-start1,
af|query::title-end1:rtl {
  background-image: url('/afr/fusion/subheader_tl.png');
}

af|panelHeader::title-start2,
af|panelHeader::title-end2:rtl,
af|showDetailHeader::title-start2,
af|showDetailHeader::title-end2:rtl,
af|query::title-start2,
af|query::title-end2:rtl,
af|panelHeader::title-start3,
af|panelHeader::title-end3:rtl,
af|showDetailHeader::title-start3,
af|showDetailHeader::title-end3:rtl,
af|query::title-start3,
af|query::title-end3:rtl,
af|panelHeader::title-start4,
af|panelHeader::title-end4:rtl,
af|showDetailHeader::title-start4,
af|showDetailHeader::title-end4:rtl,
af|query::title-start4,
af|query::title-end4:rtl,
af|panelHeader::title-start5,
af|panelHeader::title-end5:rtl,
af|showDetailHeader::title-start5,
af|showDetailHeader::title-end5:rtl,
af|query::title-start5,
af|query::title-end5:rtl {
  background-image: url('/afr/fusion/subheader_2_tl.png');
}

af|panelHeader::title-end1,
af|panelHeader::title-start1:rtl,
af|showDetailHeader::title-end1,
af|showDetailHeader::title-start1:rtl,
af|query::title-start1:rtl,
af|query::title-end1 {
  background-image: url('/afr/fusion/subheader_tr.png');
}

af|panelHeader::title-end2,
af|panelHeader::title-start2:rtl,
af|showDetailHeader::title-end2,
af|showDetailHeader::title-start2:rtl,
af|query::title-start2:rtl,
af|query::title-end2,
af|panelHeader::title-end3,
af|panelHeader::title-start3:rtl,
af|showDetailHeader::title-end3,
af|showDetailHeader::title-start3:rtl,
af|query::title-start3:rtl,
af|query::title-end3,
af|panelHeader::title-end4,
af|panelHeader::title-start4:rtl,
af|showDetailHeader::title-end4,
af|showDetailHeader::title-start4:rtl,
af|query::title-start4:rtl,
af|query::title-end4,
af|panelHeader::title-end5,
af|panelHeader::title-start5:rtl,
af|showDetailHeader::title-end5,
af|showDetailHeader::title-start5:rtl,
af|query::title-start5:rtl,
af|query::title-end5 {
  background-image: url('/afr/fusion/subheader_2_tr.png');
}

af|panelHeader::title1,
af|showDetailHeader::title1,
af|query::title1 {
  background-image: url('/afr/fusion/subheader_tc.png');
}

af|panelHeader::title2,
af|showDetailHeader::title2,
af|query::title2,
af|panelHeader::title3,
af|showDetailHeader::title3,
af|query::title3,
af|panelHeader::title4,
af|showDetailHeader::title4,
af|query::title4,
af|panelHeader::title5,
af|showDetailHeader::title5,
af|query::title5 {
  background-image: url('/afr/fusion/subheader_2_tc.png');
}

af|column::column-header-table{
  background-image: url('/afr/fusion/ch_bg_ena.png');
}


af|table::detail-area-cell {
  background-image:url("/afr/fusion/detail_box_top_fusion.png");
}


af|panelTabbed::header-start {
  background-image: url('/afr/fusion/ptts.png');
}
af|panelTabbed::header-start:rtl {
  background-image: url('/afr/fusion/ptts_r.png');
}
af|panelTabbed::header-center {
  background-image: url('/afr/fusion/ptt.png');
}
af|panelTabbed::header-end {
  background-image: url('/afr/fusion/ptte.png');
}
af|panelTabbed::header-end:rtl {
  background-image: url('/afr/fusion/ptte_r.png');
}
af|panelTabbed::body-start {
  background-image: url('/afr/fusion/pts.png');
}
af|panelTabbed::body-start:rtl {
  background-image: url('/afr/fusion/pts_r.png');
}
af|panelTabbed::body {
  background-image: url('/afr/fusion/ptc.png');
}
af|panelTabbed::body-end {
  background-image: url('/afr/fusion/pte.png');
}
af|panelTabbed::body-end:rtl {
  background-image: url('/afr/fusion/pte_r.png');
}
af|panelTabbed::footer-start {
  background-image: url('/afr/fusion/ptbs.png');
}
af|panelTabbed::footer-start:rtl {
  background-image: url('/afr/fusion/ptbs_r.png');
}
af|panelTabbed::footer-center {
  background-image: url('/afr/fusion/ptb.png');
}
af|panelTabbed::footer-end {
  background-image: url('/afr/fusion/ptbe.png');
}
af|panelTabbed::footer-end:rtl {
  background-image: url('/afr/fusion/ptbe_r.png');
}

af|decorativeBox::top-start,
af|decorativeBox::top-end:rtl {
  background-image: url('/afr/fusion/dbcts.png');
}
af|decorativeBox::top-end,
af|decorativeBox::top-start:rtl {
  background-image: url('/afr/fusion/dbcte.png');
}
af|decorativeBox::start,
af|decorativeBox::end:rtl {
  background-image: url('/afr/fusion/dbcs.png');
}
af|decorativeBox::center {
  background-image: url('/afr/fusion/dbcc.png');
}
af|decorativeBox::end,
af|decorativeBox::start:rtl {
  background-image: url('/afr/fusion/dbce.png');
}
af|decorativeBox::bottom-start,
af|decorativeBox::bottom-end:rtl {
  background-image: url('/afr/fusion/dbcbs.png');
}
af|decorativeBox::bottom-end,
af|decorativeBox::bottom-start:rtl {
  background-image: url('/afr/fusion/dbcbe.png');
}
af|decorativeBox::top {
  background-image: url('/afr/fusion/dbct.png');
}
af|decorativeBox::bottom {
  background-image: url('/afr/fusion/dbcb.png');
}

af|panelAccordion::header af|panelAccordion::header-start {
  background-image: url(/afr/fusion/pahcs.png);
}
af|panelAccordion::header af|panelAccordion::header-start:rtl {
  background-image: url(/afr/fusion/pahcs_rtl.png);
}
af|panelAccordion::header:disclosed af|panelAccordion::header-start {
  background-image: url(/afr/fusion/pahes.png);
}
af|panelAccordion::header:disclosed af|panelAccordion::header-start:rtl {
  background-image: url(/afr/fusion/pahes_rtl.png);
}
.AFPanelAccordionHeaderBackground:alias {
  background-image: url(/afr/fusion/pahcm.png);
}
.AFPanelAccordionHeaderDisclosedBackground:alias {
  background-image: url(/afr/fusion/pahem.png);
}
af|panelAccordion::body-content {
  background-image: url(/afr/fusion/pabbgt.png);
}

.AFPanelAccordionBodyMultipleBackgroundImage:alias {
  background-image: url(/afr/fusion/pabbgt.png), url(/afr/fusion/pabbgb.png);
}

.AFNoteWindow {
  background-image: url("/afr/fusion/notewindow_bkg.png");
}

.AFNoteWindowConeBorder {
  background-image: url("/afr/fusion/cone_border.png");
}

.AFNoteWindowConeBorderRight {
  background-image: url("/afr/fusion/cone_border.png");
}

.AFNoteWindowCone {
  background-image: url("/afr/fusion/cone_tl.png");
}

.AFNoteWindowConeTR{
  background-image: url("/afr/fusion/cone_tr.png");
}
.AFNoteWindowConeBL{
  background-image: url("/afr/fusion/cone_bl.png");
}

.AFNoteWindowConeBR{
  background-image: url("/afr/fusion/cone_br.png");
}

af|panelWindow::header-start,
af|dialog::header-start {
  background-image:url("/afr/fusion/dialog-header-left.png");
}

af|panelWindow::header-start:rtl,
af|dialog::header-start:rtl {
  background-image:url("/afr/fusion/dialog-header-right.png");
}

af|panelWindow::header,
af|dialog::header {
  background-image:url("/afr/fusion/dialog-header-middle.png");
}

af|panelWindow::header-end,
af|dialog::header-end {
  background-image:url("/afr/fusion/dialog-header-right.png");
}

af|panelWindow::header-end:rtl,
af|dialog::header-end:rtl {
  background-image:url("/afr/fusion/dialog-header-left.png");
}

af|panelWindow::footer-start {
  background-image:url("/afr/fusion/dialog-footer-small-left.png");
}

af|panelWindow::footer-start:rtl {
  background-image:url("/afr/fusion/dialog-footer-small-right.png");
}

af|panelWindow::footer {
  background-image:url("/afr/fusion/dialog-footer-small-middle.png");
}

af|panelWindow::footer-end {
  background-image:url("/afr/fusion/dialog-footer-small-right.png");
}

af|panelWindow::footer-end:rtl {
  background-image:url("/afr/fusion/dialog-footer-small-left.png");
}


af|dialog::footer-start {
  background-image:url("/afr/fusion/dialog-footer-left.png");
}

af|dialog::footer-start:rtl {
  background-image:url("/afr/fusion/dialog-footer-right.png");
}

af|dialog::footer {
  background-image:url("/afr/fusion/dialog-footer-middle.png");
}

af|dialog::footer-end {
  background-image:url("/afr/fusion/dialog-footer-right.png");
}

af|dialog::footer-end:rtl {
  background-image:url("/afr/fusion/dialog-footer-left.png");
}

af|panelWindow::content-start {
  background-image: url("/afr/fusion/dialog-footer-middle-bkg.png");
}

af|panelWindow::content {
  background-image: url("/afr/fusion/dialog-footer-middle-bkg.png");
}


af|panelWindow::content-end {
  background-image: url("/afr/fusion/dialog-footer-middle-bkg.png");
}


af|panelWindow::resize-icon-style,
af|dialog::resize-icon-style {
  background-image: url("/afr/fusion/dialog-resize-se.png");
}

af|panelWindow::resize-icon-style:rtl,
af|dialog::resize-icon-style:rtl {
  background-image: url("/afr/fusion/dialog-resize-sw.png");
}