/* Enable themes for specific components */
af|document,
af|decorativeBox,
af|panelSplitter {
  -tr-enable-themes: true;
}

/* style for a branding bar container (e.g. on an af:panelBorderLayout or horizontal
   af:panelGroupLayout) */
.AFBrandingBar {
  border-bottom: 1px solid #999999;
}

/* style for a container (e.g. an af:panelGroupLayout) for items inside of the branding bar
   container */
.AFBrandingBarItem {
  height: 2.5em;
}

/* style for branding page title text (e.g. on an af:outputText) placed inside of a branding bar
   item wrapper */
.AFBrandingBarTitle {
  color: #660000;
  font-size: 18px;
  padding-top: 0.1em;
}

/* style for supporting padding of navigationPane buttons when in a branding bar so that it can line
   up vertically */
.AFBrandingBar af|navigationPane-buttons {
  padding-top: 0.5em;
}

/* style for supporting padding of the status indicator when in a branding bar so that it can line
   up vertically */
.AFBrandingBar af|statusIndicator {
  padding: 0.5em;
  padding-left: 6px;
  padding-right: 6px;
}

af|table {
  border-style: dashed;
  -tr-padding-left-width: 8;
  -tr-padding-right-width: 8;
  border-color: rgb(180,0,0);
}

/* a table cell (Header and data cell) includes this alias, so change the padding-left
and padding-right to 8px to match the -tr-padding properties */
.AFTableCellPadding:alias {
  padding-left: 8px;
  padding-right: 8px;
}
/* Need an extra pixel in the data cell padding when there is no vertical
line. Otherwise it won't line up with the header cell which has a vertical line
by default. */
.AFTableCellData:alias {
  padding-right: 9px;
}
/* When we have a vertical line in the table cell, we don't need the
extra pixel we put in .AFTableCellData:alias */
.AFTableCellDataVGrid:alias {
   padding-right: 8px;
}

.AFTableCellHeaderBackground:alias {
  background-color: #D3D3D3;
}


.AFDefaultFontFamily:alias {
  font-family: Verdana, sans-serif;
}

.AFDefaultFont:alias {
  font-size: 11px;
}

.AFButtonBackgroundHover:alias,
.AFButtonBackground:alias {
  background-color: rgb(180,0,0);
  color: white;
}

.AFDefaultBoldFont:alias {
   color: black;
}

af|document[theme="dark"] {
  background-image: url('skins/sporty/sporty-template-hdr-bgrnd.PNG');
  background-repeat: repeat;
  background-color: rgb(180,0,0);
}

af|decorativeBox::center[theme="dark"],
af|decorativeBox::start[theme="dark"],
af|decorativeBox::end[theme="dark"],
af|decorativeBox::center[theme="medium"],
af|decorativeBox::start[theme="medium"],
af|decorativeBox::end[theme="medium"] {
  background-color: #C0C0C0;
}
af|decorativeBox::center[theme="light"],
af|decorativeBox::start[theme="light"],
af|decorativeBox::end[theme="light"] {
  background-color: #E0E0E0;
}

af|panelAccordion::body-content,
af|panelSplitter::pane {
  border-color: rgb(180,0,0);
}

/* splitter overrides */
af|panelSplitter::pane[theme="dark"],
af|panelSplitter::pane[theme="medium"],
af|panelSplitter::pane[theme="light"] {
  border-color: transparent;
}

af|commandButton {
  background-color: rgb(180,0,0);
  border-color: rgb(180,0,0);
  color: white;
}

af|navigationPane-list::bullet {
  background-image: url('/skins/sporty/sporty-navpane-bullet.PNG');
}

af|navigationPane-list::link {
  color: black;
  text-decoration: underline;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: #000;
}

af|navigationPane-list::link:hover {
  text-decoration: underline;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: #f00;
}

af|navigationPane-list::link:visited {
  color: #666;
  text-decoration: underline;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}

af|panelTabbed {
  color: #000000;
  font-family: Verdana, sans-serif;
}

af|commandLink,
af|commandLink:link,
af|commandLink:active,
af|commandLink:active:link,
.AFActiveLinkForeground:alias,
.AFLinkForeground:alias {
  color: #000;
}

af|commandLink:visited:hover,
af|commandLink:hover {
  color: #f00;
}

af|commandLink:visited,
af|commandLink:visited:active,
af|commandLink:visited:focus,
.AFVisitedLinkBackground:alias,
.AFVisitedLinkForeground:alias {
  color: Gray;
}

.AFLabelTextForeground:alias {
  color: black;
  font-weight: bold;
  font-size: 11px;
}

af|panelBox::table {
  border: none;
}

af|panelBox::content:core:default ,
af|panelBox::content:core:light ,
af|panelBox::content:core:medium ,
af|panelBox::content:core:dark ,
af|panelBox::content:highlight:default ,
af|panelBox::content:highlight:light ,
af|panelBox::content:highlight:medium,
af|panelBox::content:highlight:dark {
  background-color: white;
  border: none;
}

af|panelBox::header-center:core:default,
af|panelBox::header-center:core:light,
af|panelBox::header-center:core:medium,
af|panelBox::header-center:core:dark ,
af|panelBox::header-center:highlight:default,
af|panelBox::header-center:highlight:light,
af|panelBox::header-center:highlight:medium,
af|panelBox::header-center:highlight:dark {
  background-color: #D3D3D3;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  border: none;
}

af|panelBox::header-start:core:default,
af|panelBox::header-start:core:light,
af|panelBox::header-start:core:medium ,
af|panelBox::header-start:core:dark ,
af|panelBox::header-start:highlight:default ,
af|panelBox::header-start:highlight:light,
af|panelBox::header-start:highlight:medium,
af|panelBox::header-start:highlight:dark {
  background-color: #D3D3D3;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  border-left: 0px;
  border-top: 0px;
  border: none;
  width: 0px;
  padding: 0px;
}

af|panelBox::header-end:core:default,
af|panelBox::header-end:core:light,
af|panelBox::header-end:core:medium,
af|panelBox::header-end:core:dark,
af|panelBox::header-end:highlight:default ,
af|panelBox::header-end:highlight:light,
af|panelBox::header-end:highlight:medium,
af|panelBox::header-end:highlight:dark {
  background-color: #D3D3D3;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  border: none;
}

af|navigationPane-tabs,
af|navigationPane-tabs::header {
  color: white;
}

af|navigationPane-tabs,
af|decorativeBox::top-start[theme=medium],
af|decorativeBox::top[theme=medium],
af|decorativeBox::top-end[theme=medium],
af|decorativeBox::top-start[theme=light],
af|decorativeBox::top[theme=light],
af|decorativeBox::top-end[theme=light],
af|panelTabbed::header {
  background-image: url('/skins/sporty/sporty-tab-bar.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

af|panelTabbed::footer {
  background-image: url('/skins/sporty/sporty-tab-bar.png');
  background-repeat: repeat-x;
  background-position: top;
}

af|navigationPane-tabs::tab-start,
af|panelTabbed::tab-start,
af|navigationPane-tabs::tab-start:hover,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-start,
af|panelTabbed::tab:selected af|panelTabbed::tab-start,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-start:hover,
af|panelTabbed::tab:selected af|panelTabbed::tab-start:hover {
  width: 0px;
  background-image: none;
  border-width: 0px;
}

af|navigationPane-tabs::tab-end,
af|panelTabbed::tab-end,
af|navigationPane-tabs::tab-end:hover,
af|panelTabbed::tab-end:hover,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-end,
af|panelTabbed::tab:selected af|panelTabbed::tab-end,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-end:hover,
af|panelTabbed::tab:selected af|panelTabbed::tab-end:hover,
af|panelTabbed::footer af|panelTabbed::tab-end,
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-end {
  width: 0px;
  background-image: none;
  border-width: 0px;
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-link,
af|navigationPane-tabs af|navigationPane-tabs::tab-link,
af|navigationPane-tabs::tab-link,
af|panelTabbed::tab-text-link:selected,
af|panelTabbed af|panelTabbed::tab-text-link,
af|panelTabbed::tab-text-link {
  color: white;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-content,
af|panelTabbed::tab:selected af|panelTabbed::tab-content,
af|navigationPane-tabs::tab-content,
af|panelTabbed::tab-content,
af|panelTabbed::footer af|panelTabbed::tab-content,
af|panelTabbed::footer af|panelTabbed::tab:selected af|panelTabbed::tab-content {
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('/skins/sporty/sporty-tab.PNG');
  border-width: 0px;
  background-repeat: no-repeat;
  text-decoration: none;
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-content,
af|panelTabbed::tab:selected af|panelTabbed::tab-content {
  background-image: url('/skins/sporty/sporty-tab-sel.png');
}

af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-content:hover,
af|panelTabbed::tab:selected af|panelTabbed::tab-content:hover,
af|navigationPane-tabs::tab-content:hover,
af|panelTabbed::tab-content:hover {
  background-image: url('/skins/sporty/sporty-tab-on.PNG');
}

af|panelTabbed::tab-content:hover af|panelTabbed::tab-text-link,
af|panelTabbed::tab-text-link:selected:hover,
af|panelTabbed af|panelTabbed::tab-text-link:hover,
af|panelTabbed::tab-text-link:hover,
af|navigationPane-tabs::tab-content:hover af|navigationPane-tabs::tab-link,
af|navigationPane-tabs::tab:selected af|navigationPane-tabs::tab-link:hover,
af|navigationPane-tabs af|navigationPane-tabs::tab-link:hover,
af|navigationPane-tabs::tab-link:hover {
  text-decoration: none;
  color: black;
  font-size: x-small;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

/* Styles for the color of the tabs links that show up in the overflow popups. */
.AFConveyorBeltElement af|panelTabbed::tab-text-link,
.AFConveyorBeltElement af|navigationPane-tabs::tab-link,
.AFOverflowElement af|panelTabbed::tab-text-link,
.AFOverflowElement af|navigationPane-tabs::tab-link {
  -tr-rule-ref: selector(".AFLinkForeground:alias");
  font-weight: normal;
}
.AFConveyorBeltElement af|panelTabbed::tab-text-link:disabled,
.AFConveyorBeltElement af|navigationPane-tabs::tab-link:disabled,
.AFOverflowElement af|panelTabbed::tab-text-link:disabled,
.AFOverflowElement af|navigationPane-tabs::tab-link:disabled {
  color: gray;
}

/* Heights for the tabs: */
af|navigationPane-tabs {
  -tr-tab-bar-height: 1.6em; /* height of tab bars (used in page template managed-beans) */
}
af|panelTabbed {
  -tr-tab-bar-height: 1.6em; /* height of tab bars that do have tabs */
}
af|navigationPane-tabs::tab-start,
af|navigationPane-tabs::tab-end,
af|navigationPane-tabs::tab-content,
af|panelTabbed::tab-start,
af|panelTabbed::tab-end,
af|panelTabbed::tab-content {
  line-height: 1.5em;
}

.AFMediumAccentForeground:alias,
af|panelAccordion::header-title,
af|panelAccordion::header-toolbar,
af|panelAccordion::header-disclose {
  background-color: rgb(180,0,0);
  color: white;
  border: 0px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

af|panelAccordion::header-title,
af|panelAccordion::header-title af|commandLink,
af|panelAccordion::header-title af|commandLink:active,
af|panelAccordion::header-title af|commandLink:hover,
af|panelAccordion::header-title af|commandLink:visited,
af|panelAccordion::header-title af|goLink,
af|panelAccordion::header-title af|goLink:active,
af|panelAccordion::header-title af|goLink:hover,
af|panelAccordion::header-title af|goLink:visited {
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

af|panelAccordion::header-disclose,
af|panelAccordion::header-title,
af|panelAccordion::header-toolbar,
af|panelAccordion::header-start,
af|panelAccordion::header-start-sizer,
af|panelAccordion::header-end,
af|panelAccordion::header-end-sizer {
  background-color: rgb(180,0,0);
  border: 0px;
}