af|panelGroupLayout{
  background-image:url('/skins/debug/panelGroupLayout.png');
  border-style:solid;
  border-width:1px;
  border-color:purple;
}
af|panelHeader
{
  background-image:url('/skins/debug/panelHeader.png');
  border-style:solid;
  border-width:1px;
  border-color:blue;
}
af|panelStretchLayout
{
  background-image:url('/skins/debug/panelStretchLayout.png');
  border-style:solid;
  border-width:1px;
  border-color:green;
}
af|panelTabbed
{
  background-image:url('/skins/debug/panelStretchTabbed.png');
  border-style:solid;
  border-width:1px;
  border-color:red;
}
af|panelAccordion::body-content
{
  background-image:url('/skins/debug/panelAccordion.png');
  border-style:solid;
  border-width:1px;
  border-color:grey;
}
af|panelFormLayout
{
  background-image:url('/skins/debug/panelForm.png');
  border-style:solid;
  border-width:1px;
  border-color:#FFB27F;
}
af|panelFormLayout::column
{
  border-style:dotted;
  border-width:1px;
  border-color:#FFB27F;
}