.BrandingMaxWidth{
  max-width:1440px;
}

.BrandingMaxWidth-1024 {
    max-width: 1024px;
}

.BrandingMaxWidth-1280 {
    max-width: 1280px;
}

.BrandingMaxWidth-1440 {
    max-width: 1440px;
}

.BrandingGlobalLinkContainer{
  /* To copensate for the additional padding in the navigation pane hint="bar".*/
  margin-top: -3px;
}


