/* Used by the "gTools" declarative component defined in "/templates/pageTemplateDefs/globalToolsAlta.jsff" */

.ConveyorBeltStartScrollButton {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/alta_v1/conv_l_ena.png");
  height: 14px;
  width: 14px;
  padding: 9px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  background-color: #f7f8f9;
  color: #0572ce;
  border: 1px solid #c4ced7;
  z-index: 1000;
}
.ConveyorBeltStartScrollButton:hover {
  background-image: url("../images/alta_v1/conv_l_ovr.png");
  background-color: #f7f8f9;
  color: #0572ce;
  border: 1px solid #c4ced7;
}
.ConveyorBeltStartScrollButton:active:hover {
  background-image: url("../images/alta_v1/conv_l_dwn.png");
  background-color: #0572ce;
  border: 1px solid #0572ce;
}
.ConveyorBeltEndScrollButton {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/alta_v1/conv_r_ena.png");
  height: 14px;
  width: 14px;
  padding: 9px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  background-color: #f7f8f9;
  color: #0572ce;
  border: 1px solid #c4ced7;
  z-index: 1000;
}
.ConveyorBeltEndScrollButton:hover {
  background-image: url("../images/alta_v1/conv_r_ovr.png");
  background-color: #f7f8f9;
  color: #0572ce;
  border: 1px solid #c4ced7
}
.ConveyorBeltEndScrollButton:active:hover {
  background-image: url("../images/alta_v1/conv_r_dwn.png");
  background-color: #0572ce;
  border: 1px solid #0572ce;
}     
.ConveyorBelt {
  height: 34px;
  overflow:hidden;
  padding-left: 1px;
}
@media only screen and (max-width: 706px) {
  .ConveyorBelt {
    width: 566px;
    transition: width 300ms;
  }
}
@media only screen and (max-width: 606px) {
  .ConveyorBelt {
    width: 466px;
    transition: width 300ms;
  }
}
@media only screen and (max-width: 506px) {
  .ConveyorBelt {
    width: 366px;
    transition: width 300ms;
  }
}
@media only screen and (max-width: 406px) {
  .ConveyorBelt {
    width: 266px;
    transition: width 300ms;
  }
}