/*Apply 100% height on the only form in the page
  to be on safer side. This is for the form that user adds*/
form {
    height: 100%;
}

/*Apply 100% height on body to be on safer side. */
body {
    height: 100%;
}

/*Apply 100% height on the first div on the body
  which is most likely adressed with id selector */
BODY > DIV {
    height: 100%;
}

/*Apply 100% height on the div. This is for the document that user adds.*/
DIV[id="afr::DocWrapper"]{
  height: 100%;
}

/*Apply 100% height on the child div too */
DIV[id="afr::DocWrapper"] > DIV{
  height: 100%;
}

/*The content and header go here. padding in the bottom to account for 
  footer height*/
.tablet-first-main-area{
  min-height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  position:relative;
  height: auto !important;
}

.tablet-first-footer-area{
  height:49px;
  position:relative;
  margin-top:-50px;
}

.tablet-first-content-container{
  margin-left: auto;
  margin-right: auto;
}
