/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/* no clickToEdit skin for components in table data rows.  */
af|table::data-row af|inputColor::content,
af|table::data-row af|inputDate::content,
af|table::data-row af|inputComboboxListOfValues::container,
af|table::data-row af|inputListOfValues::content,
af|table::data-row af|inputNumberSpinbox::content,
af|table::data-row af|inputText::content,
af|table::data-row af|selectManyChoice::control {
  -tr-rule-ref: selector(".AFFormControlContentBackground:alias");
  background-color: white;
  border-top-color: #aeb4bd;
  border-left-color: #aeb4bd;
  border-right-color: #e0e3e8;
  border-bottom-color: #e0e3e8;
}
af|table::data-row af|inputColor:disabled::content,
af|table::data-row af|inputDate:disabled::content,
af|table::data-row af|inputComboboxListOfValues:disabled::container,
af|table::data-row af|inputListOfValues:disabled::content,
af|table::data-row af|inputNumberSpinbox:disabled::content,
af|table::data-row af|inputText:disabled::content,
af|table::data-row af|selectManyChoice:disabled::control {
 -tr-rule-ref: selector(".AFFormControlContentBackgroundDisabled:alias");
  border: 1px solid #b9babc;
}
af|table::data-row af|inputColor::launch-icon-style,
af|table::data-row af|inputDate::launch-icon-style,
af|table::data-row af|inputComboboxListOfValues::dropdown-cell,
af|table::data-row af|inputFile:update::content af|commandButton,
af|table::data-row af|inputListOfValues::search-icon-style,
af|table::data-row af|inputNumberSpinbox::increment-cell,
af|table::data-row af|inputNumberSpinbox::decrement-cell,
af|table::data-row af|selectManyChoice::dropdown {
  opacity: 1;
}
@agent ie {
  af|table::data-row af|inputColor::launch-icon-style,
  af|table::data-row af|inputDate::launch-icon-style,
  af|table::data-row af|inputComboboxListOfValues::dropdown-cell,
  af|table::data-row af|inputFile:update::content af|commandButton,
  af|table::data-row af|inputListOfValues::search-icon-style,
  af|table::data-row af|inputNumberSpinbox::increment-cell,
  af|table::data-row af|inputNumberSpinbox::decrement-cell,
  af|table::data-row af|selectManyChoice::dropdown {
    -tr-inhibit: opacity;
    filter:alpha(opacity=100);
  }
}

/*non hover - non focus styles*/
af|inputColor::content,
af|inputColor:disabled::content,
af|inputDate::content,
af|inputDate:disabled::content,
af|inputComboboxListOfValues::container,
af|inputComboboxListOfValues:disabled::container,
af|inputListOfValues::content,
af|inputListOfValues:disabled::content,
af|inputNumberSpinbox::content,
af|inputNumberSpinbox:disabled::content,
af|inputText::content,
af|inputText:disabled::content,
af|selectManyChoice::control,
af|selectManyChoice:disabled::control{
  background-image: none;
  border-color: transparent;
  background-color: transparent;
}
af|inputColor::launch-icon-style,
af|inputDate::launch-icon-style,
af|inputComboboxListOfValues::dropdown-cell,
af|inputFile:update::content af|commandButton,
af|inputListOfValues::search-icon-style,
af|inputNumberSpinbox::increment-cell,
af|inputNumberSpinbox::decrement-cell,
af|selectManyChoice::dropdown {
  opacity: 0;
}
@agent ie {
  af|inputColor::launch-icon-style,
  af|inputDate::launch-icon-style,
  af|inputComboboxListOfValues::dropdown-cell,
  af|inputFile:update::content af|commandButton,
  af|inputListOfValues::search-icon-style,
  af|inputNumberSpinbox::increment-cell,
  af|inputNumberSpinbox::decrement-cell,
  af|selectManyChoice::dropdown {
    -tr-inhibit: opacity;
    filter:alpha(opacity=0);	
  }
}

/*hover styles*/
af|inputColor:focus-target::content,
af|inputColor:hover-target::content,
af|inputDate:focus-target::content,
af|inputDate:hover-target::content,
af|inputComboboxListOfValues:focus-target::container,
af|inputComboboxListOfValues:hover-target::container,
af|inputListOfValues:focus-target::content,
af|inputListOfValues:hover-target::content,
af|inputNumberSpinbox:focus-target::content,
af|inputNumberSpinbox:hover-target::content,
af|inputText:focus-target::content,
af|inputText:hover-target::content,
af|inputText::content:focus,
af|inputText::content:active,
af|inputText::content:hover,
af|selectManyChoice:focus-target::control,
af|selectManyChoice:hover-target::control {
 -tr-rule-ref: selector(".AFFormControlContentBackground:alias");
  background-color: white;
}
af|inputColor:disabled:hover-target::content,
af|inputDate:disabled:hover-target::content,
af|inputComboboxListOfValues:disabled:hover-target::container,
af|inputListOfValues:disabled:hover-target::content,
af|inputNumberSpinbox:disabled:hover-target::content,
af|inputText:disabled::content:hover,
af|selectManychoice:disabled:hover-target::control {
 -tr-rule-ref: selector(".AFFormControlContentBackgroundDisabled:alias");
  border: 1px solid #b9babc;
}
af|inputColor:hover-target::content,
af|inputDate:hover-target::content,
af|inputComboboxListOfValues:hover-target::container,
af|inputListOfValues:hover-target::content,
af|inputNumberSpinbox:hover-target::content,
af|inputText::content:hover,
af|selectManyChoice:hover-target::control {
  border-color: #a8cefc;
}
/*focus styles*/
af|inputColor:focus-target::content,
af|inputColor:focus-target:hover-target::content,
af|inputDate:focus-target::content,
af|inputDate:focus-target:hover-target::content,
af|inputComboboxListOfValues:focus-target::container,
af|inputListOfValues:focus-target::content,
af|inputListOfValues:focus-target:hover-target::content,
af|inputNumberSpinbox:focus-target::content,
af|inputNumberSpinbox:focus-target:hover-target::content,
af|inputText::content:focus,
af|inputText::content:active,
af|inputText::content:focus:hover,
af|inputText::content:active:hover,
af|selectManyChoice:focus-target::control,
af|selectManyChoice:focus-target:hover-target::control {
  border-top-color: #aeb4bd;
  border-left-color: #aeb4bd;
  border-right-color: #e0e3e8;
  border-bottom-color: #e0e3e8;
}
af|inputColor:focus-target::launch-icon-style,
af|inputColor:hover-target::launch-icon-style,
af|inputDate:focus-target::launch-icon-style,
af|inputDate:hover-target::launch-icon-style,
af|inputComboboxListOfValues:focus-target::dropdown-cell,
af|inputComboboxListOfValues:hover-target::dropdown-cell,
af|inputFile:update:focus-target::content af|commandButton,
af|inputFile:update:hover-target::content af|commandButton,
af|inputListOfValues:focus-target::search-icon-style,
af|inputListOfValues:hover-target::search-icon-style,
af|inputNumberSpinbox:focus-target::increment-cell,
af|inputNumberSpinbox:hover-target::increment-cell,
af|inputNumberSpinbox:focus-target::decrement-cell,
af|inputNumberSpinbox:hover-target::decrement-cell,
af|selectManyChoice:focus-target::dropdown,
af|selectManyChoice:hover-target::dropdown {
  opacity: 1;
}
@agent ie {
  af|inputColor:focus-target::launch-icon-style,
  af|inputColor:hover-target::launch-icon-style,
  af|inputDate:focus-target::launch-icon-style,
  af|inputDate:hover-target::launch-icon-style,
  af|inputComboboxListOfValues:focus-target::dropdown-cell,
  af|inputComboboxListOfValues:hover-target::dropdown-cell,
  af|inputFile:update:focus-target::content af|commandButton,
  af|inputFile:update:hover-target::content af|commandButton,
  af|inputListOfValues:focus-target::search-icon-style,
  af|inputListOfValues:hover-target::search-icon-style,
  af|inputNumberSpinbox:focus-target::increment-cell,
  af|inputNumberSpinbox:hover-target::increment-cell,
  af|inputNumberSpinbox:focus-target::decrement-cell,
  af|inputNumberSpinbox:hover-target::decrement-cell,
  af|selectManyChoice:focus-target::dropdown,
  af|selectManyChoice:hover-target::dropdown {
    -tr-inhibit: opacity;
    filter:alpha(opacity=100);
  }
}
