/* We'll extend richcomponents-simple, by overwriting and adding styles */


.AFDefaultFont:alias {
  font-size: 14px;
}

af|inputText:disabled af|inputText::content {
  border: 1px dotted #B9B9B4;
}

.AFLabelTextForeground:alias {
  color: aqua;
}
.AFLabelTextForegroundDisabled:alias {
  color:Gray;
}

.AFLabel:alias {
  font-weight:bold;
  font-style: italic;
}

.AFEndPadding:alias {
  padding:0px 36px 0px 0px;
}

af|inputText.myShortWidthStyleClass af|inputText::content {
  width: 30px;
}

af|selectOneRadio:read-only af|selectOneRadio::content {
  color:pink;
  font-weight:bold;
}
