.UserStampTextLabel {
  white-space: nowrap;
  margin: 0px 4px;
}

.UserStampTextValue {
  white-space: nowrap;
  font-weight: bold;
  margin: 0px 4px;
}

.UserStampSeparator {
  margin: 0px 4px;
}

.UserStampSwitcher {
  margin: 0px 0px 0px 4px;
}
.TaskStampTextLabel {
  white-space: nowrap;
  margin: 0px 4px;
}
.TaskStampTextValue {
  white-space: nowrap;
  margin: 0px 0px 0px 4px;
}