<html>
<head>
  <title>Text Resize 3</title>
  <style type="text/css">
    .header { text-align:center; font-size:10pt; font-weight:bold; border-bottom:1px solid #BEBEBE; padding-bottom:.4em; }
    .sample { text-align:justify; font-size: 8pt; }
    .footer { text-align:center; font-size:9pt; border-top:1px solid #BEBEBE; }
  </style>
</head>
<body>
<div class="header">Sample 3 | Quirks Mode | font-size: 8pt</div>
<p class="sample">
Lorem ipsum dolor sit amet, consectetuer adipiscing
elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
vulputate velit esse molestie consequat, vel illum dolore eu feugiat
nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
blandit praesent luptatum zzril delenit augue duis dolore te feugait
nulla facilisi.
</p>
<div class="footer">
<strong id="sample3">sample 3 (quirks)</strong> | <a href="text01.html" id="sample1">sample 1 (xhtml)</a> | <a href="text02.html" id="sample2">sample 2 (html)</a>
</div>
</body>
</html>