@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFGlobalBackgroundColor:alias {
    color: #263443; 
}

/*INFO: Color value exceeded range after adjustment: HSL(211, -10%, 52%)*/
.AFGlobalTabDisabledColor:alias {
    color: #868686; 
}

.AFGlobalLinkColor:alias {
    color: #FFDCA9; 
}

.AFGlobalTabColor:alias {
    color: #586D86; 
}

.AFGlobalTabBorderColor:alias {
    color: #566679; 
}

.AFTabBorderColor:alias {
    color: #586D86; 
}

.AFTabDisabledColor:alias {
    color: #586D86; 
}

.AFGlobalTabBorderDisabledColor:alias {
    color: #5A80AD; 
}

.AFAccordionHeaderGradientStartColor:alias {
    color: #637A95; 
}

.AFAccordionBorderColor:alias {
    color: #3A4D62; 
}

.AFAccordionHeaderGradientEndColor:alias {
    color: #637A95; 
}

.AFBackground2BorderTopColor:alias {
    color: #3A4D62; 
}

.AFBackground2Color:alias {
    color: #3A4D62; 
}

.AFBackground2BorderColor:alias {
    color: #3A4D62; 
}

.AFBackgroundBorderColor:alias {
    color: #3A4D62; 
}

.AFBackgroundBorderTopColor:alias {
    color: #3A4D62; 
}

.AFBackgroundColor:alias {
    color: #475B72; 
}

.AFComponentBackgroundColor:alias {
    color: #637A95; 
}

.AFGridCellBorderColor:alias {
    color: #778CA5; 
}

.AFHelpBorderColor:alias {
    color: #6E849F; 
}

.AFComponentBackground2Color:alias {
    color: #687F9A; 
}

.AFFormControlContentBorderColor:alias {
    color: #637A95; 
}

.AFFormControlContentColor:alias {
    color: #637A95; 
}

.AFFormControlContentDisabledColor:alias {
    color: #637A95; 
}

.AFFormControlContentBorderDisabledColor:alias {
    color: #637A95; 
}

.AFGridCellActiveColor:alias {
    color: #949494; 
}

.AFGridControl2Color:alias {
    color: #637A95; 
}

.AFGridControlColor:alias {
    color: #637A95; 
}

/*INFO: Color value exceeded range after adjustment: HSL(212, -6%, 78%)*/
.AFGridControlSelectedColor:alias {
    color: #C9C9C9; 
}

.AFHeaderTextColor:alias {
    color: #B0CFF3; 
}

.AFLinkColor:alias {
    color: #FFDCA9; 
}

.AFPanelBorderColor:alias {
    color: #646464; 
}

.AFPanelBorder2Color:alias {
    color: #7A6868; 
}

.AFRequiredColor:alias {
    color: #B0CFF3; 
}

.AFTabColor:alias {
    color: #3A4D62; 
}

.AFTabBorderDisabledColor:alias {
    color: #586D86; 
}

.AFTextColor:alias {
    color: #B0CFF3; 
}

.AFTextPrimaryColor:alias {
    color: #FFFFFF; 
}

.AFLabelColor:alias {
    color: #7FB1EC; 
}

.AFTextSecondaryColor:alias {
    color: #7FB1EC; 
}

.AFTextTertiaryColor:alias {
    color: #B0CFF3; 
}

.AFButtonForeground:alias {
    color: #333333; 
}

.AFButtonForegroundHover:alias {
    color: #333333; 
}

.AFButtonForegroundDepressed:alias {
    color: #333333; 
}

af|panelAccordion::body-content {
    background-color: #475B72; 
}

af|panelAccordion::header:disclosed af|panelAccordion::header-title {
    color: #FFFFFF; 
}

af|panelAccordion::header-subsequent:disclosed af|panelAccordion::header-title {
    color: #FFFFFF; 
}

af|panelAccordion::header-title {
    color: #FFFFFF; 
}

/*Swipe to reveal styles*/
.SVGBackground {
  fill: #FFFFFF;
  height: 24px;
  width: 24px;
}

.SwipeToReveal-actionColor-more {
  background-color: #61788b;
}

.SwipeToReveal-actionColor-flag {
  background-color: #db6134
}

.SwipeToReveal-actionColor-alert {
  background-color: #ba0006
}