.MyInfoTileHorizontal {
  height: 200px;
}

.InfoTileHdRgn {
  margin-bottom: 10px;
}

.ProjTitle
{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.ProjDet{
  padding-left: 20px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.ProjActCont {
  padding-left: 20px;
}

.ProjAct {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 10px;
  border: 1px solid #d6dfe6;
  border-radius: 1px;
}


.ProjDetTitleCont
{
  display: inline-block;
  margin-bottom: 10px;
}

.ProjDetTitle
{
  font-size: 16px;
}

.ProjDesc
{
  margin-bottom: 10px;
  display: inline-block;
}

.StatusInfo
{
  margin-bottom: 10px;
}

.DtlInfoPGL
{
  width: 100%;
}

.DtlInfoHdr
{
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #d6dfe6;
  border-radius: 1px;
}

.DtlInfoHdr.LastCol
{
  margin-left: 20px;
}

.DtlMtr 
{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #d6dfe6;
  border-radius: 1px;
}

.ActLine {
  padding-top: 5px;
  vertical-align: middle;
  min-height: 23px;
}

/* Styles in the cloud demo */
.ServicesBC {
  /* This offsets the padding inside the breadcrumb in Alta */
  margin-left: -24px;
}

.ServicesBCItem {
  font-weight: bold;
}

.CloudSepText {
  border-left : 1px solid #d6dfe6;
  margin-left: 5px;
  padding-left: 5px;
  display: block;
  height: 100%;
}

.CloudItemTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.CloudOverview {
  margin-right: 25px;
}

.CloudPercentText {
  font-weight: bold;
  vertical-align: top;
  line-height: 45px;
}

.CloudPercentDetail {
  font-size: 14px;
  font-weight: bold;
}

.CloudPercentDetailError {
  font-size: 14px;
  font-weight: bold;
  color: #c60000;
}


.CloudServiceCell:nth-child(-n+6)
{
  background-color: #e3e3e3;
}

.CloudServiceCell:nth-child(5) {
  background-color: red;
}

.CloudServiceCell:nth-child(3){
  background-color: yellow;
}

.CloudServiesLegendContainer {
  border: 1px solid #d6dfe6;
  margin-top: 5px;
  margin-bottom: 5px
}

.CloudServiesLegendActive {
  background-color: #e3e3e3;
  margin: 10px;
  width: 17px;
  height: 17px;
}

.CloudServiesLegendDisabled {
  background-color: red;
  margin: 10px;
  width: 17px;
  height: 17px;
}

.CloudServiesLegendDecommission {
  background-color: yellow;
  margin: 10px;
  width: 17px;
  height: 17px;
}

.CloudMetricHeader {
  display: inline-block;
  width: 360px;
  margin-left: 50px;
}

  .CloudVerticalInfoTileContainer {                    
      display: block;
  }
  
  .CloudVerticalInfoTileCell {
    width: 20%;
  }
  
  .CloudVerticalContentCell {
    width: 80%;
  }
  
  .CloudDetailContainer {
    padding-left: 10px;
  }
