/* Inhibit some of the Trinidad selectors that we do not use to keep the
# of selectors down */

.OraTableBorder0001,
.OraTableBorder0010,
.OraTableBorder0010,
.OraTableBorder0011,
.OraTableBorder0100,
.OraTableBorder0101,
.OraTableBorder0110,
.OraTableBorder0111,
.OraTableBorder1000,
.OraTableBorder1001,
.OraTableBorder1010,
.OraTableBorder1011,
.OraTableBorder1100,
.OraTableBorder1101,
.OraTableBorder1110,
.OraTableBorder1111,
.OraTableTitle,
.OraShuttleHeader,
.OraShuttleLinkText,
.OraBGColorVeryDark,
.OraBGColorDark,
.OraBGColorMedium,
.OraBGColorLight,
.OraBGGrayVeryDark,
.OraShuttleHeader,
.OraShuttleLinkText,
.OraStyledList,
.OraStyledList .OraStyledList,
.OraLink:link,
.OraLinkText,
.OraHGridNavRowActiveLink,
.OraNavBarActiveLink,
.OraLink:active,
.OraLink:visited,
.OraVLinkText,
.OraALinkText,
.OraLinkDisabled,
.OraBGAccentLight,
.OraHGridLocatorHeader,
.OraBGAccentMedium,
.OraMessageBoxErrorText,
.OraErrorNameText,
.OraInlineErrorText,
.OraGlobalPageTitle,

.p_OraSideBarMinWidth,
.p_OraSelected,
.p_OraColorFieldSwatch,
.p_OraColorPalette,
.p_OraColorPaletteEmptyCell,
.p_OraContentFooterStart,
.p_OraContentFooterChildren,
.p_OraContentFooterBottom,
.p_OraFooter,
.p_OraFooterBottom,
.p_OraHeaderNest,
.p_OraHideShowDisclosedSymbol,
.p_OraTreeDisclosedSymbol A:link,
.p_OraTreeDisclosedSymbol A:active,
.p_OraTreeDisclosedSymbol A:visited,
.p_OraTreeRowSelected A:link,
.p_OraTreeRowSelected A:active,
.p_OraTreeRowSelected A:visited,
.p_OraQuickSearchBox,
.p_OraGlobalQuick,
.p_OraProcessingStatus,
.p_OraProductBrandingText,
.p_OraProductBrandingCompactText,
.p_OraSideBarMinWidth,
.p_OraOnePixelLine,
.p_OraDisplayBlock,
.p_OraHideSkipNaviText,
.p_OraTreeDisclosedSymbol,
.p_OraTreeNodeAdjust,
.p_OraProcessingStatus,
.p_OraProductBrandingText,
.p_OraProductBrandingCompactText,
.p_OraNav2,
.PortletBodyColor,
.PortletHeading1,
.PortletHeading2,
.PortletHeading3,
.PortletHeading4,
.PortletHeaderColor,
.PortletSubHeaderColor,
.PortletSubHeaderText,
.PortletText1,
.PortletText2,
.PortletText3,
.PortletText4,
.portlet-font,
.portlet-form-button,
.portlet-form-field,
.portlet-form-input-field,
.portlet-msg-error,
.portlet-msg-info,
.portlet-section-alternate,
.portlet-section-body,
.portlet-section-header,
.portlet-section-selected,
.portlet-section-subheader,
.portlet-table-alternate,
.portlet-table-body,
.portlet-table-footer,
.portlet-table-header,
.portlet-table-selected,
.portlet-table-subheader,
.portlet-table-text
{
  -tr-inhibit: all;
}


/* Miscellaneous Style Definitions for Illustration Purposes */
.DemoSampleWavyLineHorizontal {
  background-image: url('/images/wavy-divider.png');
  background-repeat: repeat-x;
  background-position: center;
}
.DemoSampleWavyLineVertical {
  background-image: url('/images/wavy-divider-vertical.png');
  background-repeat: repeat-y;
  background-position: center;
}



