

af|document {
  background-image: -moz-linear-gradient(center top , #1B4D75, #BCDCF7); 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

af|panelDrawer {
  -tr-auto-dismiss: false;
}

af|panelDrawer:iconified af|panelDrawer::icon-style,
af|panelTabbed:iconified af|panelTabbed::icon-style {
  padding: 13px;
}

/* remove the box shadow, use background images instead */
af|panelDrawer:end:iconified:float af|panelDrawer::body,
af|panelDrawer:right:iconified:float af|panelDrawer::body,
af|panelDrawer:start:iconified:float af|panelDrawer::body:rtl,
af|panelDrawer:start:iconified:float af|panelDrawer::body,
af|panelDrawer:left:iconified:float af|panelDrawer::body,
af|panelDrawer:end:iconified:float af|panelDrawer::body:rtl {
  box-shadow: none;
}


af|panelDrawer:end:iconified:float af|panelDrawer::tabs,
af|panelDrawer:right:iconified:float af|panelDrawer::tabs,
af|panelDrawer:start:iconified:float af|panelDrawer::tabs:rtl,
af|panelDrawer:end:iconified:float af|panelDrawer::tab-content,
af|panelDrawer:right:iconified:float af|panelDrawer::tab-content,
af|panelDrawer:start:iconified:float af|panelDrawer::tab-content:rtl {
  background-image: url("/skins/fun1/shadow.png");
  background-repeat: repeat-y;
  background-position: right; 
}
af|panelDrawer:start:iconified:float af|panelDrawer::tabs,
af|panelDrawer:left:iconified:float af|panelDrawer::tabs,
af|panelDrawer:end:iconified:float af|panelDrawer::tabs:rtl,
af|panelDrawer:start:iconified:float af|panelDrawer::tab-content,
af|panelDrawer:left:iconified:float af|panelDrawer::tab-content,
af|panelDrawer:end:iconified:float af|panelDrawer::tab-content:rtl {
  background-image: url("/skins/fun1/shadow-rtl.png");
  background-repeat: repeat-y;
  background-position: left; 
}

af|panelDrawer:iconified:open af|panelDrawer::tab:selected af|panelDrawer::tab-content {
  background-image:none;
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:left-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:end-tabs:iconified af|panelTabbed::body:vertical:rtl {
  border-style: none;
  box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.15);
  margin:0px 3px 3px 0px;
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:right-tabs:iconified af|panelTabbed::body:vertical,
af|panelTabbed:start-tabs:iconified af|panelTabbed::body:vertical:rtl {
  border-style: none;
  box-shadow: -3px 3px 3px  rgba(0, 0, 0, 0.15);
  margin:0px 0px 3px 3px;
}

af|panelDrawer:iconified af|panelDrawer::tab-content
{
  border-color: #666666;
}

af|panelTabbed:iconified af|panelTabbed::tab-content { 
  border-width:1px 0px 1px 0px;
  border-top-color: #F0F0F0;
  border-bottom-color: #999999;
  background-color:#CCCCCC;
}


af|panelDrawer:iconified af|panelDrawer::tab:hover af|panelDrawer::icon-style,
af|panelDrawer:iconified:open af|panelDrawer::tab:selected af|panelDrawer::icon-style,
af|panelTabbed:iconified af|panelTabbed::tab:hover af|panelTabbed::icon-style{
  background-image: url("/images/side-panel-tab-glow.png");
}


af|panelDrawer:iconified af|panelDrawer::tab:disabled:hover af|panelDrawer::icon-style,
af|panelTabbed:iconified af|panelTabbed::tab:disabled:hover af|panelTabbed::icon-style{
  background-image: none;
}

af|panelTabbed:iconified af|panelTabbed::tab-content:hover {
  background-color: #DDDDDD;
}

af|panelDrawer::body,
af|panelDrawer:iconified af|panelDrawer::tab-content,
af|panelDrawer:iconified:open af|panelDrawer::tab:selected af|panelDrawer::tab-content{
  background-color: #B7CEE3;
}

af|panelTabbed:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content:hover {
  background-color: #FFFFFF;
}

af|panelDrawer:end:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:right:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:start:iconified af|panelDrawer::tab af|panelDrawer::tab-content:rtl,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content:rtl,
af|panelDrawer:start:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:left:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:end:iconified af|panelDrawer::tab af|panelDrawer::tab-content:rtl,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content:rtl {
  border-top-right-radius:0px;  
  border-top-left-radius:0px;  
  border-bottom-left-radius:0px;  
  border-bottom-right-radius:0px; 
}

af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content,
af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content,
af|panelDrawer:left:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content,
af|panelDrawer:right:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content,
af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl,
af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl,
af|panelDrawer:left:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl,
af|panelDrawer:right:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl
{  
  border-top-right-radius: 0px;  
  border-top-left-radius: 0px;  
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content {
  border-top-left-radius: 0px;  
  border-width:0px 0px 1px 0px;
}


af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first:rtl af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first:rtl af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first:rtl af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:first:rtl af|panelTabbed::tab-content {
  -tr-inhibit: border-top-left-radius; 
  border-top-right-radius:0px;  
  border-style: none;
}


af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content,
af|panelDrawer:right:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content,
af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl,
af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content,
af|panelDrawer:left:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content,
af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl  {
  border-bottom-left-radius:0px;
  box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.15);
  border-width:1px 0px 0px 0px;
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl {
  -tr-inhibit: border-bottom-left-radius; 
  border-bottom-right-radius:0px; 
  box-shadow: -3px 3px 3px  rgba(0, 0, 0, 0.15);
  border-style: none;
}

af|panelTabbed:iconified  af|panelTabbed::tab:selected {
  background-color:#FFFFFF;
  z-index:0;
}

af|panelDrawer:iconified af|panelDrawer::tab:disabled af|panelDrawer::tab-content,
af|panelDrawer:iconified af|panelDrawer::tab:disabled af|panelDrawer::tab-content:hover,
af|panelTabbed:iconified af|panelTabbed::tab:disabled af|panelTabbed::tab-content,
af|panelTabbed:iconified af|panelTabbed::tab:disabled af|panelTabbed::tab-content:hover {
  background-color:#D9D9D9;
}

/** panelSpringboard **/

/*--------------------
Panel Springboard
---------------------*/


/* By default, the panelSpringboard does not animate. We need to set the animation duration
skinning keys to have it animate */
af|panelSpringboard 
{
  -tr-body-slide-animation-duration: 500;
  -tr-selected-pointer-animation-duration: 500;
  -tr-grid-to-strip-animation-duration: 500;
  -tr-strip-to-grid-animation-duration: 500;
  /* arrow is hidden in skyros, and we extend that, so we need to explicitly show it again */
  -tr-hide-selected-pointer: false;
  
}

af|panelSpringboard::item:hover,
af|panelSpringboard:strip af|panelSpringboard::item:selected {
  background-image: url('/skins/fun1/glow.png');
  background-repeat: no-repeat;
}
af|panelSpringboard:strip af|panelSpringboard_item:selected[theme="dark"], 
af|panelSpringboard:strip af|panelSpringboard_item:selected[theme="contentBody"] 
{
  background-color: transparent;
  border-width: 0px;
}
/* override the default which hides the selected item */
af|panelSpringboard:strip af|panelSpringboard::item-text
{
  visibility: visible;
}
/*the width in base class is 90px if we make it 100% we dont want any padding*/
af|panelSpringboard::item-text {
  font-weight: bold;
  color:rgba(255,255,255,.5);
  width:100%;
  padding-left:0px;
  padding-right:0px;
  text-align:center;
  font-size:90%;
}
/* All the items in the grid are shown 50%, but only the item selected or hover in 
strip mode shows 100%, while the others show 50% */
af|panelSpringboard:strip::item:hover af|panelSpringboard::item-text,
af|panelSpringboard:strip::item:selected af|panelSpringboard::item-text
{  
  color:rgba(255,255,255,1); 
}

/* Make the items show up over the body */
af|panelSpringboard::item {
  z-index: 2;
}

/* TODO The opacity is set to 1 because we want to fade out the body when we animate from
strip to grid. We use the -tr-strip-to-grid-animation-duration skinning key to determine 
the duration of the animation. */
af|panelSpringboard::body-viewport
{
  opacity: 1;
  z-index: 1;
  bottom: 10px; /* show the bottom so it doesn't bleed off the screen. TODO move to simple? */
}

@agent ie {
  af|panelSpringboard::body-viewport
  {
    filter: alpha(opacity:100);
  }
}

/* Do not put a background-color on the body. It will come from the showDetailItem. 
This enables the app developer to control the background. For example, if the showDetailItem
contains vertical tabs, the app developer wants the background-color to come from the tab
body, not the springboard body because he wants the area outside of the tabs to be transparent.*/
af|panelSpringboard::body
{
  background-color: transparent;
  /* top right bottom left */
  margin: 0 10px 10px 0px;
  border-width: 0px; /*todo Where is this border-width coming from, simple? */
  padding: 0px;
}

af|panelSpringboard[theme="dark"] {
  -tr-children-theme: default;
}

/* set showDetailItemBG styleclass on the show detail items that you do not want to be transparent */
af|panelSpringboard af|showDetailItem.showDetailItemBG
{
  background-color:white;
  box-shadow: 5px 5px 5px #999999;

}


/* If we have a panelTabbed inside a panelSpringboard, we want to put the box-shadow on the panelTab's body */
/* We don't want it on the showDetailItem because it will look like it is outside of the body, which looks awful */
af|panelSpringboard  af|panelTabbed:start-tabs:iconified af|panelTabbed::body:vertical,
af|panelSpringboard  af|panelTabbed:left-tabs:iconified af|panelTabbed::body:vertical,
af|panelSpringboard  af|panelTabbed:end-tabs:iconified af|panelTabbed::body:vertical:rtl {
  box-shadow: 5px 5px 5px #999999;
  margin: 0 10px 10px 0px;
}

/* on the body div that is loading, show a white background and a loading image */
af|panelSpringboard::body:busy {
  background-color: white;
  background-image: url('/images/demoSkin/ring_pink.gif');
  background-repeat:no-repeat;
  background-position: center;
  box-shadow: 5px 5px 5px #999999;
}

/* For flow mode, we don't slide, but we can make it look like it is loading this way */
af|panelSpringboard:flow af|panelSpringboard::body:busy {
  opacity: .5;
}
@agent ie {
  af|panelSpringboard:flow af|panelSpringboard::body:busy
  {
    filter: alpha(opacity:50);
  }
}

/* change the background image like so:
af|panelSpringboard::selected-pointer {
	background: url("/afr/springboard_selected.png") no-repeat scroll center top transparent;
}
*/

/* test out what happens to the strip and grid mode layouts if the splitter collapses slowly. Do they animate to their new positions, or do they jump */
/* I'm pretty sure it jumps. Now how can I test what happens if these two things happen at the same time? Can I setDisplayMode to strip, and change splitter to collapsed? */
/* try a faster duration than the animation. This should make it jump less */
/* This works pretty darn well, but not perfect */

af|panelSplitter {
  -tr-collapse-animation-duration: 500;
}


