
.RemoveTabBodyPadding af|panelTabbed::body:vertical {
  padding:0px;
}
.AddTabBodyPadding {
  padding:5px;
}


.AFDefaultFontFamily:alias {
    font-family: Helvetica, Arial, Sans-Serif;
}

.AFDefaultFont:alias {
    font-size: 14px
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

A, A:VISITED, A:LINK, A:HOVER {
    outline: none;
}

.application-container-width {
    width: 1000px;
    margin: 0px;
    padding: 0px;
}

.application-container {
    background-image: -webkit-linear-gradient(top, rgba(27, 77, 117, 1), rgba(188, 220, 247, 1));
    color: #ffffff;
    width:1024px; height:768px;
    
}


@agent mozilla{ }

@agent webkit{  }

.application-title {
    font-size: 140%;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0px;
}

.red {
    color: #cc0000;
}

.green {
    color: #00cc00
}

.gray {
    color: #777777
}

.black {
    color: #000000
}

.indent {
    margin-left: 15px;
}

.truncate {
    text-overflow: ellipsis;
}

.bold {
    font-weight: bold;
}

.very-small-text {
    font-size: 75%;
}

.small-text {
    font-size: 90%;
}

.large-text {
    font-size: 130%;
}

.very-large-text {
    font-size: 150%
}

.nowrap {
    white-space: nowrap;
}

.page-title {
    display: inline-block;
    font-size: 160%;
    font-weight: bold;
    color: rgb(102, 153, 204);
    padding: 0px 0px 0px;
    vertical-align: middle;
}

af|selectOneChoice::label {
    font-weight: bold;
}

af|selectOneChoice.page-title::compact-dropdown {
    border: none;
}

af|selectOneChoice.page-title::compact-dropdown-icon-style {
    background-image: url(/skins/images/selectOneChoice/fuse-page-switcher-dropdown-arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.section-title {
    font-weight: bold;
    font-size: 130%;
    color: #000000;
}
/*af|panelBox*/
af|panelBox {
    margin-top: 10px;
}

af|panelBox::header-start, af|panelBox::header-center, af|panelBox::header-end, af|panelBox::footer-start, af|panelBox::footer-center, af|panelBox::footer-end, af|panelBox::content {
    border: none;
}

af|panelBox::header-start:core:default, af|panelBox::header-center:core:default, af|panelBox::header-end:core:default {
    background: transparent;
}

af|panelBox::header-start:core:default {
    display: none;
}

af|panelBox::header-element {
    font-size: 130%;
    font-weight: bold;
    color: #000;
}

af|panelBox_table {
    border-color: rgba(0, 0, 0, .2);
}

.no-separator af|panelBox_table {
    border-color: transparent;
}

af|panelBox::content:core:default {
    background-color: transparent;
    padding: 5px 0px;
}

af|panelBox.indent-content af|panelBox::content {
    /*-tr-inhibit: all;*/

    padding-left: 30px;
}
/*Buttons*/
af|commandButton, af|commandButton:active, af|commandButton:focus, af|commandButton:hover, af|commandButton:active:hover {
    color: #fefefe;
    background: -webkit-linear-gradient(top, #ff9742, #f7670c);
    border-radius: 5px;
    padding: 4px 9px;
    border: 1px solid #bf8049;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .25);
    cursor: pointer;
    font-weight: normal;
}

.AFButtonForegroundHover:alias {
    color: #fff;
    font-weight: bold;
}

.square af|commandButton, .square af|commandButton:active:hover, .square af|commandButton:focus:hover {
    border-radius: 0px;
    padding: 4px 9px;
    font-weight: normal;
    color: #fefefe;
}

.round af|commandButton, .round af|commandButton:active:hover, .round af|commandButton:focus:hover {
    border-radius: 5px;
    padding: 4px 13px;
    font-weight: normal;
    color: #fefefe;
}

.pill af|commandButton, .pill af|commandButton:active:hover, .pill af|commandButton:focus:hover {
    border-radius: 15px;
    padding: 4px 16px;
    font-weight: normal;
    color: #fefefe;
}
/*Object Navigator Code*/
#object-navigator {
    height: 122px;
}

#object-navigator A {
    outline: none;
}

.obj-nav-item, .obj-nav-item:hover {
    height: 122px;
    width: 90px;
    border-width: 0px;
}

.obj-nav-item:active, .obj-nav-item:hover {
    background: transparenturl(/skins/images/object-navigator/fuse-obj-nav-icon-glow.png)top center no-repeat;
    border: none;
}

.obj-nav-item:selected, .obj-nav-item:selected:hover {
    background: transparenturl(/skins/images/object-navigator/fuse-obj-nav-icon-pointer.png)bottom center no-repeat;
    border: none;
    outline: none;
}
/*list-view stylings*/
.fuse-listview-row {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    color: #000000;
    margin: 8px 0px 0px 0px;
    padding: 1px 0px 0px;
}

.fuse-listview-cell {
    padding: 0px 0px 8px;
    vertical-align: top;
    font-size: 100%;
}

.major-text {
    font-size: 120%;
    font-weight: bold;
}

.major-link, .major-link A, .major-link:visited, .fuse-listview-cell.major-link, .fuse-listview-cell.major-link A {
    font-size: 120%;
    font-weight: bold;
    color: #003366;
    text-decoration: none;
    text-overflow: ellipsis;
}

.minor-link, .minor-link A, .fuse-listview-cell.minor-link, .fuse-listview-cell.minor-link A {
    color: #003366;
    text-decoration: none;
}

.fuse-listview-pagination {
    text-align: right;
}


/*form controls*/
af|panelFormLayout::separator {
    background-image: none;
    height: 25px;
}

af|panelFormLayout::label-cell,
af|panelFormLayout af|panelLabelAndMessage::label-cell,
af|panelFormLayout::column::data-cell,
af|panelFormLayout af|panelLabelAndMessage::content-cell
{
    color: #777777;
    font-weight: normal;
    font-size: 100%;
    padding: 6px 6px 6px;
}

af|panelFormLayout::label-cell,
af|panelFormLayout af|panelLabelAndMessage::label-cell
{  padding: 8px 6px 4px;  }

af|panelFormLayout::column::data-cell,
af|panelFormLayout af|panelLabelAndMessage::content-cell
{
    color: #000000;
}


af|panelFormLayout::label-cell,
af|panelFormLayout af|panelLabelAndMessage::label-cell,
af|panelFormLayout.tight-fit::label-cell,
af|panelFormLayout.tight-fit af|panelLabelAndMessage::label-cell
{
    padding: 4px 6px 0px;
}

af|panelFormLayout.tight-fit::column::data-cell,
af|panelFormLayout.tight-fit af|panelLabelAndMessage::content-cell
{
    padding: 2px 6px 2px;
}


</*Color Chooser*/
af|chooseColor::swatch {
    width: 20px;
    height: 20px;
}

.square af|chooseColor, .square af|chooseDate {
    border: 1px solid #cccccc;
}

.square af|chooseColor, .square af|chooseDate {
    border-radius: 0px;
}

.round af|chooseColor, .round af|chooseDate {
    border-radius: 5px;
}

.pill af|chooseColor, .pill af|chooseDate {
    border-radius: 10px;
}
/*Popups*/
/*the following controls the size,color,shadow and border of a fuse popup*/
.fuse-popup {
    border: 1px solid #ccc;
    background: #fff;
    padding: 0px 0px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    color: #000000;
}
/*the following controls the shape of a fuse-popup*/
.square .fuse-popup {
    border-radius: 0px;
}

.round .fuse-popup {
    border-radius: 5px;
}

.pill .fuse-popup {
    border-radius: 10px;
}
/* the following define standard fuse popup sizes*/
.fuse-popup, .fuse-popup.full {
    width: 1004px;
    height: 748px;
}

.fuse-popup.large {
    width: 600px;
    height: 408px;
}

.fuse-popup.small {
    width: 400px;
    height: 300px;
}
/*the following controls padding around the content within a fuse-popup*/
af|panelWindow.fuse-popup::header-start, af|panelWindow.fuse-popup::header-end {
    width: 10px;
    height: 10px;
}

af|panelWindow::header {
    height: 10px;
}
/*AF|Table Overrides*/
af|table {
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 0px 0px 0px;
    color: #333333;
}

af|table::data-row {
    border: 0 none;
    font-size: 100%;
}

af|table::data-row af|column::data-cell {
    background-color: transparent;
    font-size: 100%;
    border: 1px solid rgba(0, 0, 0, .25);
    border-width: 0px 0px 1px 0px;
    padding: 10px 2px;
}

af|table::data-row af|column::banded-data-cell {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-width: 0px 0px 1px 0px;
    padding: 10px 2px;
}

af|table::data-row af|column::data-cell a {
}

af|column::column-header-cell, af|column::column-header-cell:focused {
    background: transparent;
    color:#777777;
    border: 1px solid rgba(0, 0, 0, .25);
    border-width: 0px 0px 1px 0px;
    font-weight: bold;
    padding: 10px 0px;
}

.af-table-filter {
    border: 1px solid rgba(0, 0, 0, .25);
    border-width: 0px 0px 1px 0px;
    padding: 0px;
    margin: 2px 0px 0px;
    height: 35px;
}
/*Percent treatments*/
.fuse-percent-bubble {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #fefefe;
    padding: 5px 8px;
    margin: 0px 5px 0px 0px;
    min-width: 30px;
    background: #24cc31;
    /* Old browsers */

    background: -moz-linear-gradient(top, #24cc31 0%, #0b7c20 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #24cc31), color-stop(100%, #0b7c20));
    /* Chrome,Safari4+ */

    background: -o-linear-gradient(top, #24cc31 0%, #0b7c20 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #24cc31 0%, #0b7c20 100%);
    /* IE10+ */

    background: linear-gradient(top, #24cc31 0%, #0b7c20 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#24cc31', endColorstr='#0b7c20', GradientType=0);
    /* IE6-9 */

    background: -webkit-linear-gradient(top, #24cc31, #0b7c20);
    /* Chrome10+,Safari5.1+ */
}

.percent-100 {
    background: -webkit-linear-gradient(top, #2cdf34, #0a7a1f);
    /* Chrome10+,Safari5.1+ */
}

.percent-90 {
    background: -webkit-linear-gradient(top, #2cdf34, #0a7a1f);
    /* Chrome10+,Safari5.1+ */
}

.percent-80 {
    background: -webkit-linear-gradient(top, #2cdf34, #0a7a1f);
    /* Chrome10+,Safari5.1+ */
}

.percent-70 {
    background: -webkit-linear-gradient(top, #2cdf34, #0a7a1f);
    /* Chrome10+,Safari5.1+ */
}

.percent-60 {
    background: -webkit-linear-gradient(top, #ffe745, #ffbf35);
    color:#000000;
    /* Chrome10+,Safari5.1+ */
}

.percent-50 {
    background: -webkit-linear-gradient(top, #ffe745, #ffbf35);
    color:#000000;
    /* Chrome10+,Safari5.1+ */
}

.percent-40 {
    background: -webkit-linear-gradient(top, #ffe745, #ffbf35);
    color:#000000;
    /* Chrome10+,Safari5.1+ */
}

.percent-30 {
    background: -webkit-linear-gradient(top, #ffe745, #ffbf35);
    color:#000000;
    /* Chrome10+,Safari5.1+ */
}

.percent-20 {
    background: -webkit-linear-gradient(top, #ff6666, #cc0000);
    /* Chrome10+,Safari5.1+ */
}

.percent-10 {
    background: -webkit-linear-gradient(top, #ff6666, #cc0000);
    /* Chrome10+,Safari5.1+ */
}

.percent-0 {
    background: -webkit-linear-gradient(top, #ff6666, #cc0000);
    /* Chrome10+,Safari5.1+ */
}
/*----------------------
   AF|CALENDAR  
------------------------*/
af|calendar {
    border: 1px solid #D5DAEB;
}
/*------------------------
  Top Toolbox
------------------------*/
af|calendar {
    border: none;
}

af|calendar af|toolbox {
}

af|calendar af|toolbar {
    background: #f0f0f0
}

af|calendar af|toolbar::body {
    padding: 3px 5px;
}

af|calendar::toolbar-display-range {
    color: #666666;
}

af|calendar::toolbar-prev-icon, af|calendar::toolbar-prev-hover-icon, af|calendar::toolbar-prev-active-icon {
    content: url(/skins/images/icons/icon-list-previous-arrow.png);
}

af|calendar::toolbar-next-icon, af|calendar::toolbar-next-hover-icon, af|calendar::toolbar-next-active-icon {
    content: url(/skins/images/icons/icon-list-next-arrow.png);
}

af|calendar af|commandToolbarButton::text {
    color: #BEBEBE;
    font-weight: normal;
}

af|calendar af|commandToolbarButton::text:hover {
    color: #59595C;
}

af|calendar::view {
    border: 1px solid #cccccc;
}
/*------------------------
  Week View Header
------------------------*/
af|calendar::header-all-day-container {
    background-color: #59595C;
}

af|calendar::week-header-cell {
    color: #BEBEBE;
    font-size: 85%;
    font-weight: bold;
    text-align: left;
    padding-top: 8px;
    padding-left: 15px;
    width: 105px !important;
    border-right: 1px solid #6C6E71;
}

af|calendar::week-header-cell:last-child {
    border-right: none;
}

af|calendar::month-header-cell.p_AFToday, af|calendar::list-row.p_AFToday af|calendar::list-day-of-week-column, af|calendar::week-header-cell.p_AFToday, af|calendar::week-header-cell.p_AFToday.p_AFActiveDay, af|calendar::list-row.p_AFToday.p_AFActiveDay af|calendar::list-day-of-week-column, af|calendar::week-header-cell.p_AFActiveDay {
    background-color: #59595C;
}

af|calendar::week-header-day-link {
    color: #BEBEBE;
    font-size: 85% px;
    font-weight: bold;
    text-decoration: none;
}

af|calendar::week-header-cell.p_AFActiveDay af|calendar::week-header-day-link, af|calendar::week-header-cell.p_AFToday af|calendar::week-header-day-link, af|calendar::week-header-cell.p_AFToday.p_AFActiveDay, af|calendar::week-header-day-link:active, af|calendar::week-header-day-link:link:active {
    color: #BEBEBE;
}

af|calendar::week-header-cell.p_AFDayDisable af|calendar::week-header-day-link {
    color: #D9A09F;
}
/*------------------------
  All Day Container **
------------------------*/
af|calendar::all-day-container {
    /*display: none;*/

    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #D5DAEB;
    height: 30px !important;
    margin-top: 7px;
    margin-left: 55px;
    margin-right: 17px;
}
/*------------------------
  Calendar Content
------------------------*/
af|calendar::time-activity-grid-container {
    border-top: none;
    top: 63px !important;
}

af|calendar::hgrid-minor {
    border: none;
}

af|calendar::hgrid-major {
    border-top-color: #D5DAEB;
}

af|calendar af|calendar::day-of-week.p_AFToday {
    background-color: #FFFFFF;
}

af|calendar::week-vgrid {
    border-left: 1px solid #D5DAEB;
}
/*------------------------
  Left Time Column
------------------------*/
af|calendar::time-cell {
    border: none;
}

af|calendar::time-column {
    background-color: #59595C;
    border: none;
    color: #BEBEBE;
    width: 55px;
}

af|calendar::time-text {
    font-size: 80%;
}

af|calendar::week-header-row {
    margin-left: 56px;
}
/*------------------------
  Activity Container
------------------------*/
af|calendar::time-activity-container {
    background-color: #6586CF;
    border: 1px solid #CCCCCC;
}
/*Activity Container*/
.xn5 {
    background: #6586CF !important;
    border: 1px solid #CCCCCC;
    filter: alpha(opacity=70);
    opacity: 0.7;
    zoom: 1;
}
/*Activity Time*/
.xn6 {
    background: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
}
/*Activity Content*/
.xn7 {
    background: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
}
/*------------------------
  Day View
------------------------*/
af|calendar::day-header-row {
    color: #BEBEBE;
    font-size: 100%;
    font-weight: bold;
    padding-top: 5px;
}
/*------------------------
  Month View
------------------------*/
af|calendar::month-header-row {
    background: #595959;
    color: #FFFFFF;
}

af|calendar::month-grid-cell-header, af|calendar::month-grid-cell.p_AFActiveDay af|calendar::month-grid-cell-header {
    background: #6E6E71;
    border-bottom: 0px;
}

af|calendar::month-grid-cell.p_AFToday.p_AFActiveDay af|calendar::month-grid-cell-header-day-link, af|calendar::month-grid-cell-header-day-link {
    color: #BEBEBE;
    text-decoration: none;
}

af|calendar::month-grid-cell.p_AFToday af|calendar::month-grid-cell-header, af|calendar::month-grid-cell.p_AFToday.p_AFActiveDay af|calendar::month-grid-cell-header {
    background: #6E6E71;
}

af|calendar::month-grid-cell.p_AFToday.p_AFActiveDay, af|calendar::month-grid-cell.p_AFToday {
    background: #FFFFFF;
}

af|calendar::month-grid-cell.p_AFNextMonth, af|calendar::month-grid-cell.p_AFPrevMonth {
    background: #BEBEBE;
}

af|calendar::month-grid-cell {
    border-bottom: 0px;
    border-left: 1px solid #BEBEBE;
}

af|calendar::month-grid-cell:first-child {
    border-left: 0px;
}
/*af|commandLink*/
/*af|goLink*/
af|commandLink, af|goLink {
    text-decoration: none;
    margin-left: 0px;
    font-weight: -tr-inhibit;
}

af|commandLink:hover {
}

af|commandLink.major-link, af|goLink.major-link {
    font-size: 115%
}

af|commandLink.minor-link, af|goLink.minor-link {
    font-size: 100%
}

af|commandLink:visited, af|goLink:visited {
    color: #003366;
}
/*Fuse Card*/
af|decorativeBox.fuse-card {
    -background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 0px;
    margin: 5px 0px 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .1);
}

.square af|decorativeBox.fuse-card {
    border-radius: 0px
}

.round af|decorativeBox.fuse-card {
    border-radius: 5px
}

.pill af|decorativeBox.fuse-card {
    border-radius: 15px
}

af|decorativeBox.fuse-card::top {
    -tr-inhibit: all;
}

af|decorativeBox::top {
    border-bottom: 1px solid #cccccc;
    background-color: #f0f0f0;
}

af|decorativeBox.simple::top {
    display: none;
}

af|decorativeBox::top-start, af|decorativeBox::top-end {
    -tr-width: 0px;
    -tr-height: 0px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #cccccc;
}

.square af|decorativeBox::top-start {
    border-radius: 0px
}

.round af|decorativeBox::top-start {
    border-radius: 5px 0px 0px 0px
}

.pill af|decorativeBox::top-start {
    border-radius: 15px 0px 0px 0px
}

.square af|decorativeBox::top-end {
    border-radius: 0px
}

.round af|decorativeBox::top-end {
    border-radius: 0px 5px 0px 0px
}

.pill af|decorativeBox::top-end {
    border-radius: 0px 15px 0px 0px
}

.fuse-box {
    padding: 10px;
    border: 1px solid #cccccc;
    background: #f0f0f0;
}

.square .fuse-box {
    border-radius: 0px
}

.round .fuse-box {
    border-radius: 5px
}

.pill .fuse-box {
    border-radius: 15px
}

.vertical-rule {
    border-right: 1px solid #cccccc;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: inline-block;
}

.no-margins {
    margin-left: 0px;
    margin-right: 0px;
}

.narrow-margins {
    margin-left: 5px;
    margin-right: 5px;
}

.medium-margins {
    margin-left: 5%;
    margin-right: 5%;
}

.wide-margins {
    margin-left: 15%;
    margin-right: 15%;
}

.tall-margins
{   
    margin-top: 20%;
    margin-bottom: 20%;
}

/*af|CommandButton radio group*/
af|commandToolbarButton.radio-group {
    background: #CCCCCC;
    font-size: 85%;
    font-weight: normal;
    text-align: center;
    padding: 3px 0px;
    width: 103px;
}

af|commandToolbarButton.radio-group::text {
    color: #FFFFFF;
}
/*.fuse-goals .af|commandToolbarButton:selected*/
af|commandToolbarButton.radio-group:selected {
    background: #81A7CD;
}
/*--------------------
Panel Springboard
---------------------*/

af|panelSpringboard {
  -tr-grid-to-strip-animation-duration: 1500;
  -tr-strip-to-grid-animation-duration: 1500;
    
}

af|panelSpringboard::items {
    height: 100px;
}

af|panelSpringboard::item {
    width: 100px;
    height:100px;
    text-align: center;
}

af|panelSpringboard::item:hover af|panelSpringboard::item-text, af|panelSpringboard::item:selected af|panelSpringboard::item-text, af|panelSpringboard:grid af|panelSpringboard::item-text {
    color: rgba(255, 255, 255, 1);
}
af|panelSpringboard::body-viewport {
    top: 100px;
}
af|panelSpringboard::item:hover, af|panelSpringboard::item:selected {
    background-image: url('/skins/images/object-navigator/fuse-obj-nav-glow.png');
    background-repeat: no-repeat;
}
af|panelSpringboard:flow af|panelSpringboard::selected-pointer {
  top: 96px;
}
af|panelSpringboard::item-text {
    font-weight: bold;
    color: rgba(255, 255, 255, .35);
    width: 100%;
    text-align: center;
    font-size: 90%;
    padding-right: 0px;
    padding-left: 0px;
}

af|panelSpringboard:strip af|panelSpringboard::item-text {
    visibility: visible;
}

af|panelSpringboard::selected-pointer {
    background-position: center bottom;
    width: 100px;
    top: 85px;
}

af|panelSpringboard {
    border: none;
    color: #000;
}

af|panelSpringboard::body {
    background-color: #ffffff;
    border:none;
    box-shadow: none;
    height: 600px;
    width: 1000px;
    margin-left:12px;
}
/* page */
.page-size {
    width: 1000px;
    height: 600px;
}

.page-height {
    height: 600px;
}

.page-container, af|panelSpringboard::body-left, af|panelSpringboard::body-right {
    height: 600px;
    padding: 0px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
    background-color: #ffffff;
    border: none;
}

af|panelSpringboard::body-left, af|panelSpringboard::body-right {
    margin: 0px 10px;
}

.square .page-container, .square af|panelSpringboard::body-left, .square af|panelSpringboard::body-right {
    border-radius: 0px;
}

.round .page-container, .round af|panelSpringboard::body-left, .round af|panelSpringboard::body-right {
    border-radius: 5px;
}

.pill .page-container, .pill af|panelSpringboard::body-left, .pill af|panelSpringboard::body-right {
    border-radius: 15px;
}

.page {
    color: #000;
}

.page-top {
    margin: 10px 25px 0px;
}

.square .page-top {
    border-radius: 0px;
}

.round .page-top {
    border-radius: 0px 0px 5px 5px;
}

.pill .page-top {
    border-radius: 0px 0px 15px 15px;
}

.page-body {
    margin: 10px 25px;
}
/*------------------------
 Panel Drawer (Side Panel)
-------------------------*/

af|panelDrawer:iconified af|panelDrawer::icon-style,
af|panelTabbed:iconified af|panelTabbed::icon-style {
  padding: 13px;
}

/* remove the box shadow, use background images instead */
af|panelDrawer:end:iconified:float af|panelDrawer::body, af|panelDrawer:right:iconified:float af|panelDrawer::body, af|panelDrawer:start:iconified:float af|panelDrawer::body:rtl, af|panelDrawer:start:iconified:float af|panelDrawer::body, af|panelDrawer:left:iconified:float af|panelDrawer::body, af|panelDrawer:end:iconified:float af|panelDrawer::body:rtl {
    box-shadow: none;
}

.square af|panelDrawer, .square af|panelDrawer::body {
    border-radius: 0px 0px 0px 0px;
}

.round af|panelDrawer, .round af|panelDrawer::body {
    border-radius: 0px 5px 5px 0px;
}

.pill af|panelDrawer, .pill af|panelDrawer::body {
    border-radius: 0px 15px 15px 0px;
}

af|panelDrawer:end:iconified:float af|panelDrawer::tabs, af|panelDrawer:right:iconified:float af|panelDrawer::tabs, af|panelDrawer:start:iconified:float af|panelDrawer::tabs:rtl, af|panelDrawer:end:iconified:float af|panelDrawer::tab-content, af|panelDrawer:right:iconified:float af|panelDrawer::tab-content, af|panelDrawer:start:iconified:float af|panelDrawer::tab-content:rtl {
    background-image: url("/skins/images/side-panel/fuse-side-panel-tab-shadow.png");
    background-repeat: repeat-y;
    background-position: right;
}

af|panelDrawer:start:iconified:float af|panelDrawer::tabs, af|panelDrawer:left:iconified:float af|panelDrawer::tabs, af|panelDrawer:end:iconified:float af|panelDrawer::tabs:rtl, af|panelDrawer:start:iconified:float af|panelDrawer::tab-content, af|panelDrawer:left:iconified:float af|panelDrawer::tab-content, af|panelDrawer:end:iconified:float af|panelDrawer::tab-content:rtl {
    background-image: url("/skins/images/side-panel/fuse-side-panel-tab-shadow-rtl.png");
    background-repeat: repeat-y;
    background-position: left;
}

af|panelDrawer:iconified:open af|panelDrawer::tab:selected af|panelDrawer::tab-content {
    background-image: none;
    border-color: rgba(0, 0, 0, .25);
}



af|panelDrawer:end:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:right:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:start:iconified af|panelDrawer::tab af|panelDrawer::tab-content:rtl,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:left-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content:rtl,
af|panelDrawer:start:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:left:iconified af|panelDrawer::tab af|panelDrawer::tab-content,
af|panelDrawer:end:iconified af|panelDrawer::tab af|panelDrawer::tab-content:rtl,
af|panelTabbed:end-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:right-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content,
af|panelTabbed:start-tabs:iconified af|panelTabbed::tab af|panelTabbed::tab-content:rtl {
  border-top-right-radius:0px;  
  border-top-left-radius:0px;  
  border-bottom-left-radius:0px;  
  border-bottom-right-radius:0px; 
}
af|panelDrawer:iconified af|panelDrawer::tab-content {
    border-color: rgba(0, 0, 0, .25);
}

af|panelDrawer:iconified af|panelDrawer::tab:hover af|panelDrawer::icon-wrapper, af|panelDrawer:iconified:open af|panelDrawer::tab:selected af|panelDrawer::icon-wrapper {
    background-image: url("/skins/images/side-panel/fuse-side-panel-tab-glow.png");
}

af|panelDrawer:iconified af|panelDrawer::tab:disabled:hover af|panelDrawer::icon-wrapper {
    background-image: none;
}

af|panelDrawer::body, af|panelDrawer:iconified af|panelDrawer::tab-content, af|panelDrawer:iconified:open af|panelDrawer::tab:selected af|panelDrawer::tab-content {
    background-color: rgba(184, 212, 242, 1);
}

af|panelDrawer:iconified af|panelDrawer::tab:disabled af|panelDrawer::tab-content, af|panelDrawer:iconified af|panelDrawer::tab:disabled af|panelDrawer::tab-content:hover {
    background-color: #D9D9D9;
}

.square af|panelDrawer::tab-content, .square af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .square af|panelDrawer:left:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .square af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl, .square af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .square af|panelDrawer:right:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .square af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl, .square af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .square af|panelDrawer:left:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .square af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl, .square af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .square af|panelDrawer:right:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .square af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl.square af|panelDrawer::tab:last af|panelDrawer::tab-content {
    border-radius: 0px;
}

.round af|panelDrawer::tab-content, .round af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .round af|panelDrawer:left:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .round af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl, .round af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .round af|panelDrawer:right:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .round af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl, .round af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .round af|panelDrawer:left:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .round af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl, .round af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .round af|panelDrawer:right:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .round af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl {
    border-radius: 5px 0px 0px 5px;
}

.pill af|panelDrawer::tab-content, .pill af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .pill af|panelDrawer:left:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .pill af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl, .pill af|panelDrawer:end:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .pill af|panelDrawer:right:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content, .pill af|panelDrawer:start:iconified af|panelDrawer::tab:last af|panelDrawer::tab-content:rtl, .pill af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .pill af|panelDrawer:left:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .pill af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl, .pill af|panelDrawer:end:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .pill af|panelDrawer:right:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content, .pill af|panelDrawer:start:iconified af|panelDrawer::tab:first af|panelDrawer::tab-content:rtl {
    border-radius: 25px 0px 0px 25px;
}

af|panelDrawer af|showDetailItem {
    padding: 10px 20px;
}

af|panelDrawer.headless-tab::tab-content {
    background: #cc0000;
}
/*--------------------
 Page Tabs
----------------------*/
af|panelTabbed {
}

af|panelTabbed::tab af|panelTabbed::icon-style {
    opacity: .5;
}

af|panelTabbed::tab:selected af|panelTabbed::icon-style {
    opacity: 1;
}

af|panelTabbed:iconified af|panelTabbed::tab:hover af|panelTabbed::icon-style {
    background-image: url("/skins/images/side-panel/fuse-side-panel-tab-glow.png");
}

af|panelTabbed:iconified af|panelTabbed::tab:disabled:hover af|panelTabbed::icon-style {
    background-image: none;
}

af|panelTabbed:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content:hover {
    background-color: #FFFFFF;
}

af|panelTabbed:iconified af|panelTabbed::tab{
    z-index: 0;
}

af|panelTabbed:iconified af|panelTabbed::tab-content {
    z-index: 0;
    border-width: 1px 0px 1px 0px;
    border-color: #999;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
    background-color: #f0f0f0;
}

af|panelTabbed:iconified af|panelTabbed::tab-content:hover {
    background-color: #efefef;
}

.square af|panelTabbed::tab-content, .square af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .square af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .square af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl, .square af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .square af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .square af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl, .square af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .square af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .square af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl, .square af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .square af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .square af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl, .square af|panelTabbed::tab:last af|panelTabbed::tab-content {
    border-radius: 0px;
}

.round af|panelTabbed::tab-content, .round af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .round af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .round af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl, .round af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .round af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .round af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl, .round af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .round af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .round af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl, .round af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .round af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .round af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl {
    border-radius: 5px 0px 0px 5px;
}

.pill af|panelTabbed::tab-content, .pill af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .pill af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .pill af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl, .pill af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .pill af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .pill af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content:rtl, .pill af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .pill af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .pill af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl, .pill af|panelTabbed:end-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .pill af|panelTabbed:right-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .pill af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content:rtl {
    border-radius: 25px 0px 0px 25px;
}

af|panelTabbed:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content{
    background-color: #FFFFFF;
    z-index: 1;
}

af|panelTabbed:iconified af|panelTabbed::tab:disabled af|panelTabbed::tab-content, af|panelTabbed:iconified af|panelTabbed::tab:disabled af|panelTabbed::tab-content:hover {
    background-color: #D9D9D9;
}

af|panelTabbed:end-tabs:iconified af|panelTabbed::body, af|panelTabbed:right-tabs:iconified af|panelTabbed::body, af|panelTabbed:start-tabs:iconified af|panelTabbed::body:rtl, af|panelTabbed:start-tabs:iconified af|panelTabbed::body, af|panelTabbed:left-tabs:iconified af|panelTabbed::body, af|panelTabbed:end-tabs:iconified af|panelTabbed::body:rtl {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
    border: none;
}

.square af|panelTabbed, .square af|panelTabbed::body {
    border-radius: 0px 0px 0px 0px;
}

.round af|panelTabbed, .round af|panelTabbed::body {
    border-radius: 5px 5px 5px 5px;
}

.pill af|panelTabbed, .pill af|panelTabbed::body {
    border-radius: 15px 15px 15px 15px;
}

af|panelTabbed.fuse-page-tabs .page-container {
    background: none;
    box-shadow: none;
    border: none;
}

af|panelTabbed.fuse-page-tabs::body {
    margin: 0px 5px 5px 0px;
}
/* Detail Tabs */
.fuse-detail-tabs af|panelTabbed:start-tabs:iconified af|panelTabbed::body, .fuse-detail-tabs af|panelTabbed:left-tabs:iconified af|panelTabbed::body {
    border-width: 0px 0px 0px 0px;
    border-color: #f0f0f0;
    border-style: solid;
    box-shadow: none;
    padding-left: 20px;
    z-index: 2;
    height: 650px;
}

.fuse-detail-tabs af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content, .fuse-detail-tabs af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:last af|panelTabbed::tab-content {
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: url(/skins/images/detail-tabs/fuse-detail-tab-end.png?1);
    background-position: top right;
    width: 50px;
    height: 20px;
}

.fuse-detail-tabs af|panelTabbed:start-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content, .fuse-detail-tabs af|panelTabbed:left-tabs:iconified af|panelTabbed::tab:first af|panelTabbed::tab-content {
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: url(/skins/images/detail-tabs/fuse-detail-tab-start.png?1);
    background-position: bottom right;
    width: 50px;
    height: 10px;
}

.fuse-detail-tabs af|panelTabbed:iconified af|panelTabbed::tab af|panelTabbed::tab-content {
    z-index: 0;
    box-shadow: none;
}

.fuse-detail-tabs af|panelTabbed:iconified af|panelTabbed::tab:selected af|panelTabbed::tab-content {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
    z-index: 1;
}

/*Rich Text Editor*/
af|richTextEditor af|toolbar
{
  background-color: #FFF;
}

af|richTextEditor af|toolbar::body,
af|toolbar::body
{
  padding: 4px 0px;
  border: none;
  background-color:transparent;
}

af|richTextEditor af|toolbox::row
{   border: 1px solid #ddd;
    border-width:0px 0px 1px 0px;    }

af|richTextEditor af|toolbox::body,
af|toolbox::body
{
  border: none;
  background-color:transparent;
}


af|richTextEditor::content-input-container   
{
  border: 1px solid #999;
  padding: 5px;
}

af|richTextEditor::content-input  
{
 height:auto;
}



/*Search Side Panel*/
.search-field af|inputText::label, af|selectOneChoice.filter::label {
    padding: 0px;
}


af|quickQuery::search-icon {content: url('/skins/images/side-panel/fuse-side-panel-search-field-icon.png')}


/*af|menuBar*/
af|menuBar {
    width: auto;
    background-color: transparent;
}

af|menuBar.global-menu af|menu::bar-item-text {
    color: rgba(255, 255, 255, .75);
}

af|menuBar.global-menu af|menu::bar-item:highlighted af|menu::bar-item-text, af|menuBar.global-menu af|menu::bar-item:depressed af|menu::bar-item-text, af|menuBar.global-menu af|menu::bar-item:hover af|menu::bar-item-text {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}
/*af|menu::bar-item-open-icon
{   content: url('/skins/images/menu/fuse-menu-dropdown-arrow-dark.png'); }
 */
af|menu::bar-item, af|menu::bar-item:highlighted {
    background-color: transparent;
}

af|menuBar af|menu::bar-item:depressed {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .25);
}



af|menu::separator
{   height:1px; background-color:#666666}


.AFPopupMenuPopup {
    background: #333333;
    top:5px;
}

.square .AFPopupMenuPopup {
    border-radius: 0px
}

.round .AFPopupMenuPopup {
    border-radius: 5px
}

.pill .AFPopupMenuPopup {
    border-radius: 15px
}

af|menu::separator-row,
af|menu::separator-row af|menu::submenu-icon-style, 
af|commandMenuItem::menu-item-text, 
af|commandMenuItem::menu-item-icon-style, 
af|commandMenuItem::menu-item-accelerator, 
af|commandMenuItem::menu-item-open-indicator, 
af|goMenuItem::menu-item-icon-style, 
af|goMenuItem::menu-item-accelerator, 
af|goMenuItem::menu-item-open-indicator,
af|goMenuItem::menu-item-text 
{
    color: #efefef;
    background-color: #333;
    border: none;
    padding: 3px 5px;
}


af|commandMenuItem:highlighted::menu-item-text,
af|commandMenuItem:highlighted::menu-item-icon-style, 
af|commandMenuItem:highlighted::menu-item-accelerator, 
af|commandMenuItem:highlighted::menu-item-open-indicator, 
af|goMenuItem:highlighted::menu-item-icon-style, 
af|goMenuItem:highlighted::menu-item-accelerator, 
af|goMenuItem:highlighted::menu-item-open-indicator,
af|goMenuItem:highlighted::menu-item-text {
    color: #efefef;
    background-color: #000;
    border: none;
}

af|commandMenuItem::menu-item-icon-style, 
af|commandMenuItem::menu-item-accelerator, 
af|commandMenuItem::menu-item-open-indicator, 
af|goMenuItem::menu-item-icon-style, 
af|goMenuItem::menu-item-accelerator, 
af|goMenuItem::menu-item-open-indicator 
{
    border: none;
 
    -display: none;
}
/*Login Page*/
.login-panel {
    -width: 392px;
    -height: 435px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, .20);
    padding: 40px;
    margin: 40px;
}



.square .login-panel {
    border-radius: 0px;
}

.round .login-panel {
    border-radius: 5px;
}

.pill .login-panel {
    border-radius: 15px;
}

.login-panel-form {
    margin: 0px auto;
}

.login-language-selector select {
    overflow: hidden;
    width: 110%;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    height: 25px;
    padding: 2px 7px;
}

.login-language-selector {
    overflow: hidden;
    width: 260px;
    -webkit-appearance: none;
    display: inline-block;
    margin-left: 5px;
    border: solid #414141 1px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center right;
    background: url(icon-down-arrow.png)no-repeat center right #e3e3e3;
    background-image: url(/skins/images/icons/fuse-icon-drop-down-arrow.png), -webkit-linear-gradient(top, #ffffff, #cecece);
    box-shadow: inset-1px-1px 1px #b3b3b3;
}
/*Pinned Footer Styles*/
.pinned-footer {
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

.square .pinned-footer, .square .pinned-footer .column {
    border-radius: 0px;
}

.round .pinned-footer, .round .pinned-footer .column {
    border-radius: 0px 0px 5px 5px;
}

.pill .pinned-footer, .pill .pinned-footer .column {
    border-radius: 0px 0px 10px 10px;
}

.pinned-footer .column {
}

.pinned-footer .table af|outputLabel {
    color: #333333;
    font-weight: bold;
    font-size: 100%;
    padding: 2px 0px 2px;
}

.attention-required {
    color: #ff0000;
}

.supporting-info {
    color: #777777;
}
/* Status */
.status-HIGH {
    color: #f80000;
    font-weight:bold;
}

.status-MEDIUM {
    color: #f7941d;
    font-weight:bold;
}

.status-LOW {
    color: #333;
    font-weight:bold;
}
/*alignment styleClasses*/
.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.page-watermark-navigator {
    background-image: url(/skins/images/backgrounds/fuse-page-watermark-navigator.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

/*font sizer*/
.fontsizer af|commandButton, 
.fontsizer af|commandButton:active, 
.fontsizer af|commandButton:focus, 
.fontsizer af|commandButton:hover, 
.fontsizer af|commandButton:active:hover 
{
    color: #fefefe;
    font-family:serif;
    cursor: pointer;
    font-weight: bold;
    background:transparent;
    border:2px solid #ffffff;
    width:40px; 
    height:40px;
    margin:0px 5px;
}

af|commandButton.fontsizer-1 {font-size:10px;}
af|commandButton.fontsizer-2 {font-size:12px;}
af|commandButton.fontsizer-3 {font-size:14px;}
af|commandButton.fontsizer-4 {font-size:16px;}
af|commandButton.fontsizer-5 {font-size:18px;}


/*alpha bar*/
.alphabar af|commandToolbarButton::text
{   font-weight:bold;}

/*specialized treatment of local data when 
 show-local-data flag is present;
 must remain last in the stylesheet*/
.show-local-data.local-data {
    border: 1px solid #cc0000;
    color: #cc0000;
}
/*debugging borders*/
.borders {
    border: 2px solid #cc0000;
}